.mat-form-field {
    font-size: 14px;
    flex-grow: 1;
    margin-left: 32px;
  }
 .gene-association .mat-column-entrezGeneId{ 
     max-width: 250px;
 }
 .disease-association .mat-column-diseaseId {
     max-width: 250px;
 }
 .disease-association .mat-column-diseaseName {
    margin-right: 100px;
 }
 .mat-column-dbDiseases{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
 }