<div class="container">
  <div class="thing-header">
      <span [hidden]="!isLoading">
          <mat-progress-bar  class="loading-result-details" color="primary" mode="buffer">
          </mat-progress-bar>
      </span>
      <div class="thing-title">{{termTitle}}</div>
  </div>
</div>
<div [hidden]="isLoading" class="row">
  <div class="container container-custom">
    <div class="col-lg-12">
        <mat-card class="thing-summary col-lg-3" style="float:left">
            <mat-card-content>
              <p>Primary ID:&nbsp; <strong>{{term.id}}</strong></p>
              <p>Alternate ID's:&nbsp;<strong>{{term.altTermIds}}</strong></p>
              <p>PURL: <a href="{{term.purl}}" target="__blank"><strong>{{term.purl}}</strong></a></p>
              <p><u>Definition</u><br><i>{{term.definition}}</i></p>
              <p><u>Synonyms</u><br><i *ngFor="let item of term.synonyms; let isLast=last">{{item}}{{isLast ? '' : ', '}}</i></p>
              <p><u>Xrefs</u><br><i *ngFor="let item of term.xrefs; let isLast=last">{{item}}{{isLast ? '' : ', '}}</i></p>
            </mat-card-content>
        </mat-card>
        <mat-tab-group class="term-tabs">
            <mat-tab label="Associations">
              <div class="tab-content">
                <div class="associations disease-association mat-elevation-z6">
                  <h4 class="title">Disease Associations</h4>
                  <mat-table #table [dataSource]="diseaseSource" matSort>
                    <mat-header-row *matHeaderRowDef="diseaseColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: diseaseColumns;"></mat-row>
                    <ng-container matColumnDef="diseaseId">
                      <mat-header-cell *matHeaderCellDef> Disease Id </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <a routerLink="/browser/disease/{{row.diseaseId}}">{{row.diseaseId}}</a>
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="diseaseName">
                        <mat-header-cell *matHeaderCellDef>Disease Name </mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.diseaseName}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="dbGenes">
                        <mat-header-cell *matHeaderCellDef>Associated Genes</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          <span *ngFor="let gene of row.dbGenes">
                              <a routerLink="/browser/gene/{{gene.entrezGeneId}}">({{gene.entrezGeneId}})</a> -
                              {{gene.entrezGeneSymbol}}<br>
                          </span>
                        </mat-cell>
                    </ng-container>
                  </mat-table>
                </div>
                <div class="associations gene-association mat-elevation-z6">
                  <h4 class="title">Gene Associations</h4>
                  <mat-table #table [dataSource]="geneSource" matSort>
                    <mat-header-row *matHeaderRowDef="geneColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: geneColumns;"></mat-row>
                    <ng-container matColumnDef="entrezGeneId">
                      <mat-header-cell *matHeaderCellDef> Gene Symbol </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        {{row.entrezGeneSymbol}}
                        <a routerLink="/browser/gene/{{row.entrezGeneId}}"> ({{row.entrezGeneId}})</a>
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="dbDiseases">
                      <mat-header-cell *matHeaderCellDef> Associated Diseases </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <span *ngFor="let disease of row.dbDiseases">
                            <a routerLink="/browser/disease/{{disease.diseaseId}}">({{disease.diseaseId}})</a> -
                            {{disease.diseaseName}}<br>
                        </span>
                      </mat-cell>
                    </ng-container>
                  </mat-table>
                </div>
              </div>
            </mat-tab>
             <mat-tab label="Some Other Data">
                <div class="tab-content">
                  </div>
            </mat-tab>
          <mat-tab label="Term In Text">
            <div class="tab-content">
            </div>
          </mat-tab>
          </mat-tab-group>
    </div>
  </div>
</div>
