<mat-sidenav-container>
  <navbar-hpo (navToggle)="sidenav.open(); mobileNavSection = 'home'"></navbar-hpo>
  <mat-sidenav #sidenav class="sidenav">
    <mat-nav-list>
          <h3 class="center menuTitle">Menu</h3>
          <hr>
        <div *ngIf="mobileNavSection != 'home'">
          <button class="backButton"  mat-menu-item (click)="backNavigate()"><mat-icon>arrow_left</mat-icon>Back</button>
        </div>
        <div *ngIf="mobileNavSection == 'home'">
          <button mat-menu-item  routerLink="/">Home</button>
          <button mat-menu-item (click)="mobileNavigate('toolsMenu')"> Tools <mat-icon>arrow_right</mat-icon> </button>
          <button mat-menu-item (click)="mobileNavigate('downloadsMenu')"> Downloads <mat-icon>arrow_right</mat-icon> </button>
          <button mat-menu-item (click)="mobileNavigate('helpMenu')"> Help <mat-icon>arrow_right</mat-icon> </button>
        </div>
        <div *ngIf="mobileNavSection == 'toolsMenu'">
          <button mat-menu-item (click)="sidenav.close()" routerLink="tools/clinical-annotation"> Clinical Annotation </button>
          <button mat-menu-item (click)="mobileNavigate('genomicTools')">Genomic Tools <mat-icon>arrow_right</mat-icon></button>
          <button mat-menu-item (click)="mobileNavigate('phenomicTools')">Phenomic Tools <mat-icon>arrow_right</mat-icon></button>
          <button mat-menu-item (click)="sidenav.close()" routerLink="tools/hpo-browser"> Other HPO Browsers </button>
          <button mat-menu-item (click)="sidenav.close()" routerLink="tools/workbench"> HPO Workbench </button>
          <button mat-menu-item (click)="sidenav.close()" routerLink="tools/external"> External Tools </button>
          <button mat-menu-item (click)="sidenav.close()" routerLink="tools/other"> Other Tools </button>
        </div>

        <div *ngIf="mobileNavSection == 'genomicTools'">
          <button mat-menu-item (click)="sidenav.close()" routerLink="tools/genomiser"> Genomiser </button>
          <button mat-menu-item (click)="sidenav.close()" routerLink="tools/exomiser"> Exomiser</button>
        </div>

        <div *ngIf="mobileNavSection == 'phenomicTools'">
          <button mat-menu-item (click)="sidenav.close()" routerLink="tools/phenomizer"> Phenomizer</button>
          <button mat-menu-item (click)="sidenav.close()" routerLink="tools/phenogramviz"> PhenoGramViz </button>
        </div>

        <div *ngIf="mobileNavSection == 'helpMenu'">
          <button mat-menu-item (click)="mobileNavigate('infoMenu')">Information <mat-icon>arrow_right</mat-icon></button>
          <button mat-menu-item (click)="sidenav.close()" routerLink="help/clinician-guide"> Clinicians Guide </button>
          <button mat-menu-item (click)="mobileNavigate('howToMenu')">How to.. <mat-icon>arrow_right</mat-icon></button>
          <button mat-menu-item (click)="sidenav.close()"  routerLink="help/layperson"> Layperson Synonyms </button>
          <button mat-menu-item (click)="sidenav.close()"  routerLink="help/mapping"> Translations and Mapping </button>
          <button mat-menu-item (click)="sidenav.close()" routerLink="faq"> FAQ </button>
        </div>

        <div *ngIf="mobileNavSection == 'howToMenu'">
          <button mat-menu-item (click)="sidenav.close()"  routerLink="help/annotations"> Use Annotations </button>
          <button mat-menu-item (click)="sidenav.close()"  routerLink="help/collaboration"> Contribute to HPO </button>
          <button mat-menu-item (click)="sidenav.close()" routerLink="citation"> Cite HPO </button>
          <button mat-menu-item (click)="sidenav.close()" routerLink="license"> License HPO </button>
        </div>

        <div *ngIf="mobileNavSection == 'infoMenu'">
          <button mat-menu-item (click)="sidenav.close()" routerLink="help/introduction"> Introduction </button>
          <button mat-menu-item (click)="sidenav.close()" routerLink="help/history"> History </button>
          <button mat-menu-item (click)="sidenav.close()" routerLink="contact"> Contact </button>
          <button mat-menu-item (click)="sidenav.close()" routerLink="help/users">  Users </button>
          <button mat-menu-item (click)="sidenav.close()" routerLink="help/contributors"> Contributors </button>
          <button mat-menu-item (click)="sidenav.close()" routerLink="help/publications"> Publications </button>
          <button mat-menu-item (click)="sidenav.close()" routerLink="help/funding"> Funding </button>
        </div>

        <div *ngIf="mobileNavSection == 'downloadsMenu'">
          <button mat-menu-item (click)="sidenav.close()" routerLink="download/ontology"> Ontology </button>
          <button mat-menu-item (click)="sidenav.close()" routerLink="download/annotation"> Annotation </button>
        </div>

    </mat-nav-list>
  </mat-sidenav>
  <div class="main" fxLayout="column">
    <router-outlet></router-outlet>
  </div>
  <footer-hpo class="mat-elevation-z4"></footer-hpo>
</mat-sidenav-container>
