.main {
    flex:1;
}
::ng-deep .mat-tab-label {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}
::ng-deep .mat-tab-header {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
::ng-deep .item-title {
  font-size: 24px;
  text-align: center;
  text-shadow: 1px 1px #D0D3D4;
}
::ng-deep .item-summary {
  width:100%;
  margin-bottom: 10px;
}
::ng-deep .item-summary .mat-list-item-content{
  font-size:14px;
  padding: 0 !important;
}

::ng-deep .item-header{
  margin-top: -10px;
  margin-bottom: 10px;
}
::ng-deep .item-summary .mat-card-content  .associations h4{
  float:left;
}
::ng-deep .mat-table {
  overflow: auto;
  max-height: 500px;
}
::ng-deep .associations {
  margin: 0 5px 15px 5px;
}
::ng-deep .title {
  padding: 10px;
  margin: 0;
}
::ng-deep .associations .mat-table{
  max-height:346px;
}
::ng-deep .container-custom{
  margin:0;
  padding: 0 5px 0 5px;
}
::ng-deep .container-custom .row{
  margin:0;
}

::ng-deep .loading-result {
  width: 75% !important;
  margin: 15px 0 0 12%;
  float:none;
}
::ng-deep hr.underline-hr {
  margin:0;
  height:1px;
}

::ng-deep .mat-tab-label-active{
  background-color: rgba(179, 218, 239, 0.3);
  font-weight: 900;
  opacity: 1 !important;
}

::ng-deep mat-hint{
  cursor: pointer;
}

::ng-deep .term-result .result-list .result:hover  {
  text-decoration:underline #0085CA;
}
::ng-deep .disease-result .result-list .result:hover  {
  text-decoration:underline #AB2328;
}
::ng-deep .gene-result .result-list .result:hover  {
  text-decoration:underline #43B02A;
}
::ng-deep .disease-result .result .id{
  color: grey;
  font-size: 10px;
  display: block;
  float: left;
  width: 50px;
  margin: 5px 0 0 0;
}
::ng-deep .term-result .result .id{
  color: grey;
  font-size: 10px;
  display: block;
  float: left;
  width: 60px;
  margin: 5px 0 0 0;
}

::ng-deep .gene-result .result .id{
  color: grey;
  font-size: 10px;
  display: block;
  float: left;
  width: 35px;
  margin: 5px 0 0 0;
}

::ng-deep span.result-list, ::ng-deep div.result-list  {
  text-decoration:none;
  color: black !important;
  margin-top: 2.5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

::ng-deep .search-highlight{
  font-weight: 900;
  background-color:yellow;
}

::ng-deep .static-images {
  width: 800px;
  height: auto;
}
::ng-deep .mat-menu-item {
  font-size: 14px;
}

::ng-deep .pageTitle {
  border-bottom: lightgray solid 1px;
  padding-bottom: 10px;
}
