.main {
    flex:auto;
}

.sidenav {
  width: 50%;
  background-color:rgba(41,101,124,1);
}

.sidenav .menuTitle{
  color:white;
}

.sidenav .mat-menu-item{
  padding: 0 0 0 15px;
  border-bottom: 1px solid #d3d3d370;
  color:white;
}

.sidenav .mat-menu-item .mat-icon{
  margin: 12px 5px;
  float: right;
  color: white;
}

.sidenav hr {
  margin-bottom:0;
}

.sidenav .mat-menu-item.backButton{
  background-color: #d3d3d370;
  padding-left:0;
}

.sidenav .mat-menu-item.backButton .mat-icon{
  float:left;
}
