
.container.container-main .container-title {
    font-size: 20px;
    margin-top: 0px;
    font-weight: bold;

}
.container.container-main .container-body {
    font-size:16px;
    text-align: justify;
}
.container.container-main .container-body a.btn {
    border-radius: 0px;
}
.empty-space {
    height:100px;
    width:100%;
}
.quick-links-card md-list-item {
    background-color: #D0D3D4;
    opacity: 0.7;
    margin-bottom:5px;
}
.quick-links-card a:hover {
    text-decoration:none;
}

.quick-links-card md-list-item:hover {
    background-color: #D0D3D4;
    opacity: 0.9;
}

.quick-links-card md-card-title h3 {
    margin: 0;
}
a.md-btn{
    text-decoration:none;
    background-color:#43B02A;
}
::ng-deep a.md-btn .mat-button-wrapper {
    color: white;
}
.news-updates{
    margin-top: 5px;
}
::ng-deep .quick-links-card .mat-icon {
    margin-left: auto;
}

.quick-links-card a[md-list-item] {
    background-color: #D0D3D4;
    opacity: 0.7;
    margin-bottom:5px;
}
.quick-links-card a:hover {
    text-decoration:none;
}

.quick-links-card a[md-list-item]:hover {
    background-color: #D0D3D4;
    opacity: 0.9;
}