<div class="container">
  <h1 class="center pageTitle">Translations and Mapping</h1>
  <h2>Translations</h2>
  <p>The HPO has been translated into many languages including (in alphabetical order)
    Chinese, Dutch, French, German,
    Italian, Japanese, Portuguese, Russian, Spanish, and Turkish.

    The Human Phenotype Ontology Internationalization Effort (HPOIE) was established to coordinate language profile
    development, including 
    <ul>
    <li>Fostering collaboration between different groups translating the same language.</li>
    <li>Standardising the representation of the translation profiles, capturing rich metadata that can be used by 
      downstream sources to separate, for example, professional, manual translations from automated ones.</li>
    <li>Coordinating the release of language profiles in step with HPO releases.</li>
    </ul>
    
    Additional information about the effort can be found on the 
    <a href="https://obophenotype.github.io/hpo-translations/" target="_blank">HPO Translation</a> webpage. 

    Additional information about the Japanese translation is available
    on the <a href="https://github.com/dbcls/bh16/wiki/HumanPhenotypeOntologyJapanese"
              target="_blank">HPO Japanese GitHub page</a>. The Chinese HPO project
    can be found <a href="https://www.chinahpo.net/"
                target="_blank">here</a>.
  </p>
  <h2>Mappings</h2>
  <p>In contrast to many clinical terminologies, the HPO was purpose-built to
    facilitate differential diagnostics and scientific investigations such as
    cross-species comparisons with model organism data from mouse and zebrafish.
    Moreover, the HPO has an extremely broad coverage of concepts. In an evaluation
    of HPO content versus the numerous vocabularies integrated within the Unified
    Medical Language System (UMLS), Winnenburg and Bodenreider showed that the coverage
    of HPO phenotype concepts in the UMLS is 54% and only 30% in SNOMED CT (ISMB 2014 SIG session
    cited <a href="https://www.ncbi.nlm.nih.gov/pubmed/27899602" target="_blank">here</a>).
    The <a href="https://www.ncbi.nlm.nih.gov/pubmed/14681409" target="_blank">UMLS</a>
    is a terminology integration system developed by the U.S. National Library of
    Medicine that integrates many standard biomedical terminologies. In
    order to improve the coverage of phenotype data, the UMLS has now integrated the
    entire HPO starting with the 2015AB release. This enables an easy process to map
    HPO-encoded data to standard health-care terminologies such as SNOMED CT. </p>

  <p>HPO has contributed to the establishment of
    the <a href="http://www.irdirc.org/?s=ichpt" target="_blank">International Consortium of
      Human Phenotype Terminologies (ICHPT)</a> to provide the community with standards
    that achieve interoperability among databases incorporating human phenotypic features.
  </p>


</div>
