<div class="container">
    <div class="page-header">
        <div class="page-title">{{pageTitle}}</div>
        <div class="hr"></div>
        <div class="page-intro">{{pageIntro}}</div>
    </div>
</div>
<div class="container">
    <p>An ontology is a computational representation of a domain of knowledge based upon a controlled, standardized vocabulary for describing entities and the semantic relationships between them.</p>
    <p>The Human Phenotype Ontology (HPO) aims to provide a standardized vocabulary of phenotypic abnormalities encountered in human disease. Each term in the HPO describes a phenotypic abnormality, 
      such as atrial septal defect. The HPO is currently being developed using the medical literature, Orphanet, DECIPHER, and OMIM. HPO currently contains approximately 11,000 terms (still growing) 
      and over 115,000 annotations to hereditary diseases. The HPO also provides a large set of HPO annotations to approximately 4000 common diseases.</p>
    <p>All of our data is available for download or can be browsed online, but please read the license and please read this publication before.</p>
    <p>The HPO is now being developed at the Charité Berlin and with the Monarch Initiative, and logical definitions for HPO terms are being developed using PATO and a number of other OBO Foundry ontologies including UBERON, GO, ChEBI, and others.</p>
    
    <p>The HPO can be used for clinical diagnostics in human genetics (Phenomizer), bioinformatics research on the relationships between human phenotypic abnormalities and cellular and biochemical networks, 
      for mapping between human and model organism phenotypes, and for providing a standardized vocabulary for clinical databases, among many other things. There exists an HPO web browser. The HPO project encourages 
      input from the medical and genetics community with regards to the ontology itself and to clinical annotations. For legal issues regarding usage of HPO please see the license.</p>
    
    <p>Please contact us, if you have further questions.</p>
</div>