<div class="container">
      <h1 class="center pageTitle">Warranty, Disclaimer, and Copyright Notice</h1>
      <p>By using this site, you signify your assent to the Terms and Conditions set forth below.
        If you do not agree to all of these Terms and Conditions of use, do not use this site.</p>

      <p>The contents of the Human Phenotype Ontology (HPO) Site, such as text and other material
        contained on the HPO Site ("Content") are for informational and educational purposes only.
        The use of the HPO Site and the Content is at your own risk. </p>

      <p>When using the HPO Site, information will be transmitted over a medium that may be beyond the control and
        jurisdiction of The Jackson Laboratory. Accordingly, The Jackson Laboratory assumes no liability for or relating
        to the delay, failure, interruption, or corruption of any data or other information transmitted in connection
        with use of the HPO Site.</p>

      <p>The HPO Site and the Content are provided on an "as is" basis. THE JACKSON LABORATORY, TO THE FULLEST EXTENT
        PERMITTED BY LAW, DISCLAIMS ALL WARRANTIES, EITHER EXPRESS OR IMPLIED, STATUTORY OR OTHERWISE, INCLUDING BUT NOT
        LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, NON-INFRINGEMENT OF THIRD PARTIES' RIGHTS, AND FITNESS
        FOR PARTICULAR PURPOSE. Without limiting the foregoing, The Jackson Laboratory makes no representations or
        warranties about the accuracy, reliability, completeness, currentness, or timeliness of the Content, software,
        text, or communications provided on or through the use of the HPO Site.</p>

      <p>In no event shall The Jackson Laboratory be liable for any damages
        (including, without limitation, incidental and consequential damages, personal injury/wrongful death, lost profits,
        or damages resulting from lost data or business interruption) resulting from the use of or inability to use the
        HPO Site or the Content, whether based on warranty, contract, tort, or any other legal theory, and whether or not
        The Jackson Laboratory is advised of the possibility of such damages. The Jackson Laboratory shall not be
        liable for any personal injury, including death, caused by your use or misuse of the HPO Site or content.</p>

      <p>This HPO Site and content are provided to enhance knowledge and encourage progress in the scientific community and
        are to be used only for research and educational purposes. The HPO Site and content are not intended to be used for
        medical advice, diagnosis, or treatment.</p>

      <p>The Jackson Laboratory authorizes you to view or download a single copy of the Content on the HPO Site solely for
        your personal, noncommercial use. Any reproduction or use for commercial purpose is prohibited without the prior
        express written permission of The Jackson Laboratory.</p>

      <p><a target="__blank" href="https://www.jax.org/privacy-policy">Click here to view The Jackson Laboratory privacy policy</a></p>
</div>



