<h1>Annotation data</h1>


<p>Todo update these texts.</p>
<p>
The annotation files (e.g. phenotype_annotation.tab) from our Hudson/Jenkins page.
The format of the annotation file is explained under Documentation.

phenotype_annotation.tab: contains manual and semi-automated annotations created by the HPO-team. These are annotations of OMIM-, Orphanet-, and DECIPHER-entries
phenotype_annotation_hpoteam.tab: contains annotations made explicitly and manually by the HPO-team (mostly referring to OMIM entries)
negative_phenotype_annotation.tab: contains negative annotations (i.e. a disease is NOT associated with this HPO-term)
</p>
