<div class="container">
  <h1 class="center pageTitle">
    HPO Workbench
  </h1>
  <p>
    HPO Workbench is a Java app designed as a browser for HPO terms
    and annotated diseases. HPO Workbench has a series of functions that
    can be used by collaborators to review and make suggestions for extending,
    correcting, or otherwise revising the HPO or the disease annotations.
  </p>

  <p>
    HPO Workbench may also be of interest for browsing and exploring
    the HPO and disease annotation data.
  </p>

  <p>The source code of HPO Workbench as well asan executable file can be downloaded from the
    <a href="https://github.com/TheJacksonLaboratory/HPOworkbench" target="_blank">Project
      repository</a>.
  </p>

  <img class="static-images col-lg-offset-3 col-lg-4" src="assets/HPOworkbench.png" />
</div>
