.gene-association .mat-column-entrezGeneId{
   max-width: 250px;
}
.disease-association .mat-column-diseaseId {
   max-width: 250px;
}
.disease-association .mat-column-diseaseName {
  margin-right: 100px;
}


.item-id .obsolete-arrow{
  font-size:16px;
}

@media (max-width:767px) {
  .disease-association .mat-column-diseaseName {
    margin-right: 10px;
  }

 }

.mat-cell.mat-column-dbDiseases, .mat-cell.mat-column-dbGenes{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline;
}

 @media (min-width:767px) {

   .tree-container{
     padding-right:0;
   }
 }

.item-summary.tree-navigation{
 padding: 15px !important;
 font-size:16px;
}

.tree-navigation .link{
  text-decoration: none;
}

.card-title {
 margin: 0 0 5px 0;
}

.tree,
.tree ul {
  padding:0;
  list-style:none;
  position:relative;
}

.tree .badge.tree-badge{
  border-radius:2px;
  background-color: #5fbc4a;
  padding-bottom: 4px;
  margin: 0 0 5px 10px;
  cursor: default;
}
.tree-navigation .badge.info-badge{
  border-radius:2px;
  background-color: dodgerblue;
  padding-bottom: 4px;
  margin: -25px 0 0 0;
  float: right;
  cursor: default;
}

 .tree li:last-child span.term {
  border-left: 1px solid;
  padding: 5px 0 0 10px;
  font-weight: 900;
 }

.tree li ul {margin-left:1em}
.tree li:last-child, .tree li:last-child li {
  margin:0;
  padding:0 1em;
  line-height:2em;
  position:relative;
}
.tree li:last-child{
  margin-top: 5px;
}
.tree li:first-child:before {
  border:none;
}
.tree li ul:before {
  content:"";
  display:block;
  width:0;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  border-left:1px solid;
}

.tree li ul li:before {
  content:"";
  display:block;
  width:10px;
  height:2px;
  border-top:1px solid;
  margin-top:-1px;
  position:absolute;
  top:1em;
  left:0;
}
.tree li ul li:last-child:before {
  background:white;
  height:auto;
  top:1em;
  bottom:0;
}

.term-toolbar {
  margin-top:-40px;
  float:right;
  width: 75px;
}
.term-toolbar .mat-toolbar {
  min-height:40px;
  max-height:50px;
}

.term-toolbar .mat-toolbar .mat-button {
  max-width:30px;
  min-width:25px;
  margin-right:10px;
}

.mat-progress-bar{
  margin: 30px 0 30px 10px
}

.associationsPaging{
  text-align:right;
  padding: 10px 25px 0 0;
  margin-bottom: 1px;
  margin-top: 1px;
}

.associationsPaging p{
  margin-bottom: 1px;
  margin-top: 1px;
  font-size: 14px;
}
 .associationsPaging a{
   cursor:pointer;
 }

.copyToClipboard{
  font-size: 12px;
  cursor: copy;
  padding: 5px;
}


.tab-output-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.filter-header {
  min-height: 24px;
  padding: 2px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
  padding-bottom: 1px;
}

.download-annotations{
  margin-top: 10px;
}
