<div class="term-component">
  <div class="container-custom">
    <div class="row">
        <!-- Term navigtaion tree - left pane-->
        <div class="col-lg-3">
          <mat-card class="item-summary tree-navigation">
            <mat-card-content>
              <h3 class="card-title">Tree Hierarchy</h3>
              <span matTooltip="Neighborhood View of HPO Hierarchy" matTooltipPosition="left" class="badge info-badge">i</span>
              <hr class="underline-hr">
                    <ul class="tree" *ngIf="treeData">
                      <li *ngFor="let parent of treeData.parents">
                        <a class="link"  routerLink="../{{parent.ontologyId}}" >{{parent.name}}</a>
                        <span matTooltip="# of Descendants" matTooltipPosition="above"  *ngIf="parent.childrenCount != 0" class="badge tree-badge">{{parent.childrenCount}}</span>
                      </li>
                      <li>
                        <span class="term"><strong>{{term.name}}</strong></span>
                          <span class="badge tree-badge" matTooltip="# of Descendants" *ngIf="treeData.termCount != 0" matTooltipPosition="above">{{treeData.termCount}}</span>
                        <ul>
                          <li *ngFor="let child of treeData.children">
                            <a class="link" routerLink="../{{child.ontologyId}}">{{child.name}}</a>
                            <span matTooltip="# of Descendants" matTooltipPosition="above" *ngIf="child.childrenCount != 0" class="badge tree-badge">{{child.childrenCount}}</span>
                          </li>
                        </ul>
                      </li>
                    </ul>
            </mat-card-content>
          </mat-card>
        </div>

       <!-- right pane -->
        <div class="col-lg-9 inline">
            <!-- Term summary -->
            <mat-card class="item-summary">
              <mat-card-content>
                  <div>
                    <span class="item-title">{{termTitle}}</span>
                    <span class="item-id">{{term.id}}</span>
                    <i matTooltip="Copy purl to clipboard!" matTooltipPosition="above"
                       (click)="copyToClipboard(term.purl)" class="material-icons copyToClipboard">content_copy</i>
                  </div>

                  <hr class="underline-hr">
                  <p><br><i>{{term.definition}}</i></p>
                  <mat-list>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                      <strong>Synonyms:</strong> &nbsp;&nbsp; <i *ngFor="let item of term.synonyms; let isLast=last">{{item}}{{isLast ? '' : ', '}}</i>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item *ngIf="term.comment">
                      <strong>Comment:</strong> &nbsp;&nbsp; {{term.comment}}
                      </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item *ngIf="term.xrefs.length > 0">
                      <strong>Xrefs:</strong> &nbsp;&nbsp;
                      <i *ngFor="let item of term.xrefs; let isLast=last">{{item}}{{isLast ? '' : ', '}}</i>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                  </mat-list>
              </mat-card-content>
            </mat-card>

            <!-- TABS -->
            <mat-tab-group selectedIndex="0" class="term-details-tab-group mat-elevation-z6">

              <!-- Disease association -->
              <mat-tab label="Disease Associations">

                      <mat-progress-bar  *ngIf="assocLoading" class="loading-result-details" color="primary" mode="buffer">
                      </mat-progress-bar>

                      <div class="filter-container mat-elevation-z8">

                            <!-- paging: associations subset count -->
                            <div id="assocDiseasePagingSubset" *ngIf="!assocLoading && !displayAllDiseaseAssc" class="associationsPaging">
                              <p>Displaying {{diseaseDisplayCount}} out of {{diseaseAssocCount}}.
                                <a *ngIf="diseaseDisplayCount != diseaseAssocCount"
                                   (click)="showAllDiseases($event)">View all
                                </a>
                              </p>
                            </div>

                            <!-- paging: associations display all count -->
                            <div id="assocDiseasePagingAll" *ngIf="displayAllDiseaseAssc" class="associationsPaging">
                              <p>Count: {{diseaseDisplayCount}} </p>
                            </div>

                            <!-- filter. Display when all results are loaded -->
                            <div id="diseaseFilter" *ngIf="displayAllDiseaseAssc" class="filter-header">
                              <mat-form-field>
                                <input matInput (keyup)="applyDiseaseFilter($event.target.value)" placeholder="Filter by disease">
                              </mat-form-field>
                            </div>

                            <div [hidden]="assocLoading"class="associations disease-association">
                              <mat-table #table [dataSource]="diseaseSource" matSort>
                                <mat-header-row *matHeaderRowDef="diseaseColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: diseaseColumns;"></mat-row>
                                <ng-container matColumnDef="diseaseId">
                                  <mat-header-cell *matHeaderCellDef> Disease Id </mat-header-cell>
                                  <mat-cell *matCellDef="let row">
                                    <a routerLink="/browse/disease/{{row.diseaseId}}">{{row.diseaseId}}</a>
                                  </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="diseaseName">
                                    <mat-header-cell *matHeaderCellDef>Disease Name </mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row.diseaseName}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="dbGenes">
                                    <mat-header-cell *matHeaderCellDef>Associated Genes</mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                      <span *ngFor="let gene of row.dbGenes">
                                          <a routerLink="/browse/gene/{{gene.entrezGeneId}}">({{gene.entrezGeneId}})</a> -
                                          {{gene.entrezGeneSymbol}}<br>
                                      </span>
                                    </mat-cell>
                                </ng-container>
                              </mat-table>

                              <div [hidden]="!displayAllDiseaseAssc">
                                <mat-paginator  #diseasePaginator [pageSizeOptions]="[50, 100, 500]"></mat-paginator>
                              </div>

                            </div>
                      </div>
              </mat-tab>

              <!-- Gene Association -->
              <mat-tab label="Gene Associations">

                    <mat-progress-bar  *ngIf="assocLoading" class="loading-result-details" color="primary" mode="buffer">
                    </mat-progress-bar>

                    <!-- paging: associations subset count -->
                    <div id="assocGenePagingSubset" *ngIf="!assocLoading && !displayAllGeneAssc" class="associationsPaging">
                      <p>Displaying {{geneDisplayCount}} out of {{geneAssocCount}}.
                        <a *ngIf="geneDisplayCount != geneAssocCount"
                           (click)="showAllGenes($event)">View all
                        </a>
                      </p>
                    </div>

                    <!-- paging: associations display all count -->
                    <div id="assocGenePagingAll" *ngIf="displayAllGeneAssc" class="associationsPaging">
                      <p>Count: {{geneDisplayCount}} </p>
                    </div>

                    <!-- filter. Display when all results are loaded -->
                    <div id="geneFilter" *ngIf="displayAllGeneAssc" class="filter-header">
                      <mat-form-field>
                        <input matInput (keyup)="applyGeneFilter($event.target.value)" placeholder="Filter by gene">
                      </mat-form-field>
                    </div>

                    <div [hidden]="assocLoading" class="associations gene-association">
                      <mat-table #table [dataSource]="geneSource" matSort>
                        <mat-header-row *matHeaderRowDef="geneColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: geneColumns;"></mat-row>
                        <ng-container matColumnDef="entrezGeneId">
                          <mat-header-cell *matHeaderCellDef> Gene Symbol </mat-header-cell>
                          <mat-cell *matCellDef="let row">
                            {{row.entrezGeneSymbol}}
                            <a routerLink="/browse/gene/{{row.entrezGeneId}}"> ({{row.entrezGeneId}})</a>
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="dbDiseases">
                          <mat-header-cell *matHeaderCellDef> Associated Diseases </mat-header-cell>
                          <mat-cell *matCellDef="let row">
                            <span *ngFor="let disease of row.dbDiseases">
                                <a routerLink="/browse/disease/{{disease.diseaseId}}">({{disease.diseaseId}})</a> -
                                {{disease.diseaseName}}<br>
                            </span>
                          </mat-cell>
                        </ng-container>
                      </mat-table>

                      <div [hidden]="!displayAllGeneAssc">
                        <mat-paginator  #genePaginator [pageSizeOptions]="[50, 100, 500]"></mat-paginator>
                      </div>
                    </div>
              </mat-tab>
            </mat-tab-group>
        </div>
    </div>
  </div>
</div>
