<div class="container">
  <h1 class="center pageTitle">Genomiser</h1>
  <p>
    The interpretation of non-coding variants still constitutes a major challenge in the application of whole-genome
    sequencing in Mendelian disease, especially for single-nucleotide and other small non-coding variants.
    The Genomiser, an analysis framework that is able not only to score the relevance of variation in the non-coding genome,
    but also to associate regulatory variants to specific Mendelian diseases. Genomiser scores variants through either
    existing methods such as CADD or a bespoke machine learning method and combines these with allele frequency,
    regulatory sequences, chromosomal topological domains, and phenotypic relevance to discover variants associated to
    specific Mendelian disorders.
  </p>

  <p>The Genomiser is available as part of the downloadable Java application
    <a href="http://exomiser.monarchinitiative.org/exomiser/" target="_blank">Exomiser</a>.
  </p>
  <img src="assets/tools-images/genomiser.jpg" class="static-images col-lg-offset-3 col-lg-offset-4" />
</div>
