<div class="container">
  <div class="page-header">
    <div class="page-title">{{pageTitle}}</div>
    <div class="hr"></div>
    <div class="page-intro">{{pageIntro}}</div>
  </div>
<p>
  The Phenomizer is a <a href="http://compbio.charite.de/phenomizer" target="_blank">web-based application</a>.
  for clinical diagnostics in human genetics using semantic similarity searches in ontologies
  <a href="https://www.ncbi.nlm.nih.gov/pubmed/19800049" target="_blank">K&ouml;hler et al., AJHG, October 2009</a>.
  A detailed manual can be found in the online app.
</p>
<p>
A new application (<a href="http://compbio.charite.de/phenomizer_orphanet" target="_blank">Orphamizer</a>) is being prototyped that used data from <a href="http://www.orpha.net/consor/cgi-bin/index.php" target="_blank">Orphanet</a>
as well as an improvbed algorithm and a different set of diseases and
phenotype-associations.
</p>
<img class="static-images col-lg-offset-2 col-lg-offset-4" src="assets/phenomizer.png" />
</div>
