<div class="container">
  <h1 class="center pageTitle">Phenomizer</h1>
  <p>
    The Phenomizer is a <a href="http://compbio.charite.de/phenomizer" target="_blank">web-based application</a>.
    for clinical diagnostics in human genetics using semantic similarity searches in ontologies
    <a href="https://www.ncbi.nlm.nih.gov/pubmed/19800049" target="_blank">K&ouml;hler et al., AJHG, October 2009</a>.
    A detailed manual can be found in the online app.
  </p>
  <div fxLayout="row" fxLayoutAlign="center">
    <img class="static-images" src="assets/tools-images/phenomizer.png" />
  </div>
</div>
