<section
  class="flex flex-col items-center gap-10 lg:gap-20 px-6 pt-10 pb-16 md:pt-14 md:pb-20 lg:pt-20 lg:pb-[7.5rem]"
  [style.background]="gradientStyle()"
>
  <div class="text-center text-gray-900 flex flex-col items-center gap-3 md:gap-4">
    <h1 class="text-2xl md:text-4xl lg:text-[3.5rem] md:leading-tight lg:leading-[4rem] font-bold max-w-[65rem]">
      Human Phenotype Ontology
    </h1>
    <p class="text-base md:text-xl lg:text-[1.5rem] lg:leading-8 max-w-[46rem]">
      With 18,000+ terms and over 156,000 annotations to genetic
      diseases, HPO provides a standardized vocabulary of phenotypic
      abnormalities encountered in human disease.
    </p>
  </div>

  <app-search-form />
</section>
