# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
/.idea
*.iml
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
out/
*.iml

build/
.jest/
.angular/
# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System Files
.DS_Store
Thumbs.db

# Node_Modules
node_modules/*

# logs
*logs


# dist
dist/
