.float-left {
  text-align: left;
}

.table-spacer td, .table-spacer th {
  padding: 5px;
}


.code-wrapper {
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 4px;
}

.code {
  padding: 20px;
  background: rgba(0,0,0,.01);
}

.margin-auto {
  margin: auto auto;
}
