<div class="disease-component">
  <div class="container-custom" [hidden]="isLoading">
    <div class="item-header">
      <span [hidden]="!isLoading">
          <mat-progress-bar  class="loading-result-details" color="primary" mode="buffer">
          </mat-progress-bar>
      </span>
    </div>
</div>
  <div [hidden]="isLoading" class="container">
      <div class="row">
            <div class="col-lg-offset-2 col-lg-8">
              <!-- Disease Banner -->
              <mat-card class="item-summary mat-elevation-z6">
                <mat-card-content>
                  <span class="item-title">{{disease.diseaseName}}</span>
                  <span class="item-id">{{disease.diseaseId}}</span>
                  <hr class="underline-hr">
                  <mat-list>
                    <mat-list-item>{{disease.description}}</mat-list-item>
                  </mat-list>
                </mat-card-content>
              </mat-card>

              <!--TABS -->
              <mat-tab-group selectedIndex="0" class="disease-details-tab-group mat-elevation-z6">

                <!--Term associations tab -->
                  <mat-tab label="Term Associations">
                    <div class="tab-content">
                      <div class="associations term-association">
                        <div *ngFor="let catTermSource of catTermSources ">
                          <h3 class="title">{{catTermSource.catLabel}}
                            <span *ngIf="catTermSource.annotationCount > 1">[ {{catTermSource.annotationCount}} annotations ]</span>
                            <span *ngIf="catTermSource.annotationCount == 1">[ {{catTermSource.annotationCount}} annotation ]</span>
                          </h3>
                          <mat-table #table [dataSource]="catTermSource.termSource" matSort>
                            <mat-header-row *matHeaderRowDef="termColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: termColumns;"></mat-row>
                            <ng-container matColumnDef="ontologyId">
                              <mat-header-cell *matHeaderCellDef> Term Identifier </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                  <a routerLink="/browse/term/{{row.ontologyId}}">{{row.ontologyId}}</a>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="name">
                              <mat-header-cell *matHeaderCellDef>Term Name </mat-header-cell>
                              <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="definition">
                              <mat-header-cell *matHeaderCellDef>Definition</mat-header-cell>
                              <mat-cell *matCellDef="let row">{{row.definition}}</mat-cell>
                            </ng-container>
                          </mat-table>
                        </div>
                      </div>
                    </div>
                  </mat-tab>

                  <!-- Gene associations tab -->
                  <mat-tab label="Gene Associations">
                    <!--<div class="tab-content">-->
                    <div [hidden]="geneAssoc.length == 0">
                      <div class="filter-container mat-elevation-z8">

                          <!-- filter -->
                          <div class="filter-header">
                            <mat-form-field>
                              <input matInput (keyup)="applyGeneFilter($event.target.value)" placeholder="Filter">
                            </mat-form-field>
                          </div>
                          <div class="associations gene-association">
                              <mat-table #table [dataSource]="geneDataSource" matSort>
                                <mat-header-row *matHeaderRowDef="geneColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: geneColumns;"></mat-row>
                                <ng-container matColumnDef="entrezGeneId">
                                  <mat-header-cell *matHeaderCellDef>Gene Identifier </mat-header-cell>
                                  <mat-cell *matCellDef="let row">
                                    <a routerLink="/browse/gene/{{row.entrezGeneId}}">{{row.entrezGeneId}}</a>
                                  </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="entrezGeneSymbol">
                                    <mat-header-cell *matHeaderCellDef>Gene Symbol</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row.entrezGeneSymbol}}</mat-cell>
                                </ng-container>
                              </mat-table>

                              <mat-paginator #genePaginator [pageSizeOptions]="[50, 100, 500]"> </mat-paginator>
                          </div>
                      </div>
                    </div>

                    <!-- no results found -->
                    <div class="container center" [hidden]="geneAssoc.length != 0">
                      <h4>No gene results found for.. "{{query}}"</h4>
                    </div>

                  </mat-tab>
                </mat-tab-group>
            </div>
      </div>
  </div>
</div>
