<div class="disease-component">
  <div class="container-custom" [hidden]="isLoading">
    <div class="item-header">
      <span [hidden]="!isLoading">
          <mat-progress-bar  class="loading-result-details" color="primary" mode="buffer">
          </mat-progress-bar>
      </span>
    </div>
</div>
  <div [hidden]="isLoading" class="container">
      <div class="row">
            <div class="col-lg-offset-2 col-lg-8">
              <!-- Disease Banner -->
              <mat-card class="item-summary mat-elevation-z6">
                <mat-card-content>
                  <span class="item-title">{{disease.diseaseName}}</span>
                  <a routerLink="/browse/disease/{{disease.diseaseId}}"><strong>({{disease.diseaseId}})</strong></a>
                  <hr class="underline-hr">
                  <mat-list>
                    <mat-list-item><strong>Definition:&nbsp;</strong> Waiting for MONDO API.</mat-list-item>
                  </mat-list>
                </mat-card-content>
              </mat-card>

              <!--TABS -->
              <mat-tab-group class="disease-details-tab-group mat-elevation-z6">

                <!--Term associations tab -->
                  <mat-tab label="Term Associations">
                    <div class="tab-content">
                      <div class="associations term-association">
                        <div *ngFor="let catTermSource of catTermSources; index as i">
                          <h3 class="title">{{catTermSource.catLabel}} {{catTermSource.annotationCountTxt}}</h3>
                          <mat-table #table [dataSource]="catTermSource.termSource" matSort>
                            <mat-header-row *matHeaderRowDef="termColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: termColumns;"></mat-row>
                            <ng-container matColumnDef="ontologyId">
                              <mat-header-cell *matHeaderCellDef> Term Identifier </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                  <a routerLink="/browse/term/{{row.ontologyId}}">{{row.ontologyId}}</a>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="name">
                              <mat-header-cell *matHeaderCellDef>Term Name </mat-header-cell>
                              <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="definition">
                              <mat-header-cell *matHeaderCellDef>Definition</mat-header-cell>
                              <mat-cell *matCellDef="let row">{{row.definition}}</mat-cell>
                            </ng-container>
                          </mat-table>
                        </div>
                      </div>
                    </div>
                  </mat-tab>

                  <!-- Gene associations tab -->
                  <mat-tab label="Gene Associations">
                    <div class="tab-content">
                      <div class="associations gene-association">
                          <mat-table #table [dataSource]="geneSource" matSort>
                            <mat-header-row *matHeaderRowDef="geneColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: geneColumns;"></mat-row>
                            <ng-container matColumnDef="entrezGeneId">
                              <mat-header-cell *matHeaderCellDef>Gene Identifier </mat-header-cell>
                              <mat-cell *matCellDef="let row">
                                <a routerLink="/browse/gene/{{row.entrezGeneId}}">{{row.entrezGeneId}}</a>
                              </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="entrezGeneSymbol">
                                <mat-header-cell *matHeaderCellDef>Gene Symbol</mat-header-cell>
                                <mat-cell *matCellDef="let row">{{row.entrezGeneSymbol}}</mat-cell>
                            </ng-container>
                          </mat-table>
                      </div>
                    </div>
                  </mat-tab>
                </mat-tab-group>
            </div>
      </div>
  </div>
</div>
