<div class="container">
    <div class="item-header">
      <span [hidden]="!isLoading">
          <mat-progress-bar  class="loading-result-details" color="primary" mode="buffer">
          </mat-progress-bar>
      </span>
      <div class="item-title">({{disease.diseaseId}}){{disease.diseaseName}}</div>
    </div>
</div>
  <div [hidden]="isLoading" class="row">
    <div class="container container-custom">
      <div class="row">
        <div class="col-lg-3">
          <mat-card class="item-summary">
              <mat-card-content>
                <p>Disease ID:&nbsp;{{disease.diseaseId}}</p>
                <p>Disease Name:&nbsp;{{disease.diseaseName}}</p>
              </mat-card-content>
          </mat-card>
        </div>
        <div class="col-lg-9">
            <mat-tab-group class="disease-details-tab-group mat-elevation-z6">
              <mat-tab label="Term Associations">
                <div class="tab-content">
                  <div class="associations term-association">
                    <!--<h3 class="title">Term Associations</h3>-->
                    <div *ngFor="let catTermSource of catTermSources; index as i">
                      <h3 class="title">{{catTermSource.catLabel}} {{catTermSource.annotationCountTxt}}</h3>
                      <mat-table #table [dataSource]="catTermSource.termSource" matSort>
                        <mat-header-row *matHeaderRowDef="termColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: termColumns;"></mat-row>
                        <ng-container matColumnDef="ontologyId">
                          <mat-header-cell *matHeaderCellDef> Term Identifier </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                              <a routerLink="/browser/term/{{row.ontologyId}}">{{row.ontologyId}}</a>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="name">
                          <mat-header-cell *matHeaderCellDef>Term Name </mat-header-cell>
                          <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="definition">
                          <mat-header-cell *matHeaderCellDef>Definition</mat-header-cell>
                          <mat-cell *matCellDef="let row">{{row.definition}}</mat-cell>
                        </ng-container>
                      </mat-table>
                    </div>
                  </div>
                </div>
              </mat-tab>


              <mat-tab label="Gene Associations">
                <div class="tab-content">
                  <div class="associations gene-association">
                      <!--<h3 class="title">Gene Associations</h3>-->
                      <mat-table #table [dataSource]="geneSource" matSort>
                        <mat-header-row *matHeaderRowDef="geneColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: geneColumns;"></mat-row>
                        <ng-container matColumnDef="entrezGeneId">
                          <mat-header-cell *matHeaderCellDef>Gene Identifier </mat-header-cell>
                          <mat-cell *matCellDef="let row">
                            <a routerLink="/browser/gene/{{row.entrezGeneId}}">{{row.entrezGeneId}}</a>
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="entrezGeneSymbol">
                            <mat-header-cell *matHeaderCellDef>Gene Symbol</mat-header-cell>
                            <mat-cell *matCellDef="let row">{{row.entrezGeneSymbol}}</mat-cell>
                        </ng-container>
                      </mat-table>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>
        </div>
    </div>
  </div>
