.term-association .mat-column-ontologyId {
    max-width: 150px;
}
.term-association .mat-column-name {

   max-width: 250px;
}
.term-association .mat-column-definitionn {
  margin-right: 20px;
  max-width: 350px;
}
.mat-column-dbDiseases{
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
}
.gene-association .mat-column-diseaseName{
    width:425px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.associations.gene-association{
    margin-top: 20px;
    float:left;
}
.associations.term-association{
    margin-top: 20px;
    float:left;
}

.disease-details-tab-group {
  border: 1px solid #e8e8e8;
}

