<div class="container">
  <h1 class="center pageTitle">PhenoGramViz</h1>
  <p>
    Clinical evaluation of CNVs identified via techniques such as array comparative genome
    hybridisation (aCGH) involves the inspection of lists of known and unknown duplications
    and deletions with the goal of distinguishing pathogenic from benign CNVs.
    <a href="https://www.ncbi.nlm.nih.gov/pubmed/25280750/" target="_blank">PhenoGramViz</a>
    is a tool that provides a phenotype-based approach to analyzing candidate CNVs on the
    basis of phenotype matching.
  </p>
  <p>
    A key step in this process is the comparison of the individual's phenotypic abnormalities with those
    associated with Mendelian disorders of the genes affected by the CNV. PhenoGramViz
    additionally implements a comparison of model organism phenotypes with patient phenotypes
    in order to support the identification
    of novel disease genes and medical evaluation of CNVs.
  </p>
  <ul>
    <li><a href="https://phenomics.github.io/software-phenoviz.html" target="_blank">PhenoGramViz</a>: Automatically
      analyze and visualize gene-to-phenotype relations for a set of genes affected by CNV of a patient and a set of
      HPO-terms
    </li>
  </ul>
  <div fxLayout="row" fxLayoutAlign="center">
    <img class="static-images" src="assets/tools-images/phenogramviz.jpg"/>
  </div>
</div>
