<div class="flex flex-col md:flex-row items-center md:items-start gap-3 md:gap-4 justify-center w-full">
  <div class="flex flex-col gap-2 w-[32rem]">
    <input
      pInputText
      type="text"
      class="w-full text-base md:text-xl"
      placeholder="Search for phenotypes, diseases or genes, including synonyms"
      [(ngModel)]="searchQuery"
      (keyup.enter)="submitSearch(searchQuery)"
    />
    <div class="flex flex-wrap items-center gap-2 text-gray-900 text-sm md:text-base">
      <span class="leading-snug">Popular Searches:</span>
      @for (term of popularSearches; track term) {
        <p-button
          class="font-semibold !underline"
          (click)="submitSearch(term)"
          link
        >
          <span class="underline">{{ term }}</span>
        </p-button>
      }
    </div>
  </div>

  <p-button
    label="Search"
    icon="pi pi-search"
    styleClass="h-[3.2rem] text-xl"
    (onClick)="submitSearch(searchQuery)"
  />
</div>
