.search-icon {
  padding: 10px;
  height: 45px;
  width: 43px;
  font-size: 25px;
  float: left;
  background-color: #ec9736;
  position:absolute;
  left:13%;
}

.main-search{
  width: 75%;
  height: 45px;
  padding: 5px;
  font-size: 16px;
}

.searchbar{
  text-align: center;
}

p.hint{
  color:white;
}
p.hint a{
  color: #ec9736 !important;
  cursor: pointer;
}
