<div class="container">
  <div class="row">
    <div class="col-lg-offset-3 col-lg-6">
      <div class="searchbar">
          <md-icon class="search-icon">search</md-icon>
          <md-form-field class="example-full-width">
              <input mdInput placeholder="Search Human Phenotype Ontology" [(ngModel)]=query (keyup)="filter()">
              <md-hint align="end"><strong>( i.e. ) HP:00142 | Abornmality of Weight | Bladder Cancer</strong> </md-hint>
          </md-form-field>
          <!--<input class="search-bar col-lg-12" type="text" placeholder='Search Phenotypes' [(ngModel)]=query (keyup)="filter()"/>-->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="search-results" >
            <div *ngIf="terms && terms.length > 0" class="result-card col-lg-{{bootCols}} col-sm-12">
              <md-card>
                <md-card-header>
                  <md-card-title>Terms<hr></md-card-title>

                </md-card-header>
                <md-card-content>
                  <a routerLink="term/{{item.id}}" class="result-list" *ngFor="let item of terms; let isOdd=odd; let isEven=even" (click)="select(item)">
                      (HPO) {{item.id}} {{item.name}}
                  </a>
                </md-card-content>
              </md-card>
            </div>
            <div *ngIf="diseases && diseases.length > 0" class="result-card col-lg-{{bootCols}} col-sm-12">
                <md-card>
                  <md-card-header>
                    <md-card-title>Diseases</md-card-title>
                  </md-card-header>
                  <md-card-content>
                    <a href="term/{{item.dbReference}}" class="result-list" *ngFor="let item of diseases; let isOdd=odd; let isEven=even" (click)="select(item)">
                      (Disease) {{item.dbReference}} {{item.dbName}}
                  </a>
                  </md-card-content>
                </md-card>
              </div>
              <div *ngIf="genes && genes.length > 0" class="result-card col-lg-{{bootCols}} col-sm-12">
                  <md-card>
                    <md-card-header>
                      <md-card-title>Genes</md-card-title>
                    </md-card-header>
                    <md-card-content>
                        <!--<div  *ngFor="let item of filteredList; let isOdd=odd; let isEven=even"
                        class="result-row" [class.odd]="odd-result" [class.even]="even-result" (click)="select(item)">
                            (HPO) {{item.id_term}} {{item.name}}
                        </div>-->
                    </md-card-content>
                  </md-card>
              </div>
      </div>
    </div>
  </div>
</div>

