<div class="container">
    <div class="page-header">
        <div class="page-title">{{pageTitle}}</div>
        <div class="hr"></div>
        <div class="page-intro">{{pageIntro}}</div>
    </div>
</div>
  <div class="row">
    <div class="col-lg-12">
      <searchbar (searchActive)="searchActive($event)"></searchbar>
    </div>
  </div>
  <div *ngIf="!activeSearch" class="row">
      <div class="col-lg-offset-2 col-lg-8">
        <div class="search-intro">
          <p>The Human Phenotype Ontology (HPO) Browser provides allows you to explore the standardized vocabulary of phenotypic abnormalities encountered in human disease.
            Each term in the HPO describes a phenotypic abnormality, such as atrial septal defect. HPO currently contains approximately 11,000 terms (still growing) and
            over 115,000 annotations to hereditary diseases. The HPO also provides a large set of HPO annotations to approximately 4000 common diseases.</p>
        </div>
    </div>
  </div>



