.term-association .mat-column-ontologyId {
  max-width: 150px;
}

.term-association .mat-column-onset, .term-association .mat-column-frequency, .term-association .mat-column-sources {
  max-width: 175px;
}

.term-association .mat-column-sources .material-icons, .term-association .mat-column-sources .material-icons-outlined {
  font-size: 18px;
}

.mat-column-dbDiseases {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.gene-association .mat-column-diseaseName {
  width: 425px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.disease-details-tab-group {
  border: 1px solid #e8e8e8;
}

.tab-output-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.filter-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.associations.term-association .category-title {
  padding: 10px;
  margin: 0;
  background-color: rgb(78, 139, 162);
  color: white;
}

.report-issue {
  margin: 1rem 0 0 .5rem;
  background-color: #ec9736;
  color: white !important;
}

.material-icons {
  vertical-align: middle !important;
}

.source-cell {
  display: block !important;
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.mat-row {
  border-bottom-color: rgba(0, 0, 0, 0.25) !important;
}
