@import '~@angular/material/theming';

$jax-lightblue: (
  50 : #e0f0f9,
  100 : #b3daef,
  200 : #80c2e4,
  300 : #4da9d9,
  400 : #2696d1,
  500 : #0084c9,
  600 : #007cc3,
  700 : #0071bc,
  800 : #0067b5,
  900 : #0054a9,
  A100 : #d3e6ff,
  A200 : #a0c9ff,
  A400 : #6dacff,
  A700 : #539dff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$jax-blue: (
  50 : #e0e6ee,
  100 : #b3c0d5,
  200 : #8096b9,
  300 : #4d6c9c,
  400 : #264d87,
  500 : #002d72,
  600 : #00286a,
  700 : #00225f,
  800 : #001c55,
  900 : #001142,
  A100 : #778aff,
  A200 : #445eff,
  A400 : #1132ff,
  A700 : #0023f6,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$jax-yellow: (
  50 : #fdf8e0,
  100 : #fbedb3,
  200 : #f8e280,
  300 : #f5d64d,
  400 : #f3cd26,
  500 : #f1c400,
  600 : #efbe00,
  700 : #edb600,
  800 : #ebaf00,
  900 : #e7a200,
  A100 : #ffffff,
  A200 : #fff3da,
  A400 : #ffe1a7,
  A700 : #ffd98e,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$jax-orange: (
  50 : #fdf1e0,
  100 : #fadcb3,
  200 : #f6c580,
  300 : #f2ae4d,
  400 : #f09c26,
  500 : #ed8b00,
  600 : #eb8300,
  700 : #e87800,
  800 : #e56e00,
  900 : #e05b00,
  A100 : #ffffff,
  A200 : #ffe3d4,
  A400 : #ffc1a1,
  A700 : #ffb188,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$jax-burntorange: (
  50 : #fbebe5,
  100 : #f5cdbf,
  200 : #eeac95,
  300 : #e78a6a,
  400 : #e1714a,
  500 : #dc582a,
  600 : #d85025,
  700 : #d3471f,
  800 : #ce3d19,
  900 : #c52d0f,
  A100 : #fff4f2,
  A200 : #ffc8bf,
  A400 : #ff9b8c,
  A700 : #ff8573,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$jax-red: (
  50 : #f5e5e5,
  100 : #e6bdbf,
  200 : #d59194,
  300 : #c46569,
  400 : #b84448,
  500 : #ab2328,
  600 : #a41f24,
  700 : #9a1a1e,
  800 : #911518,
  900 : #800c0f,
  A100 : #ffb1b2,
  A200 : #ff7e80,
  A400 : #ff4b4e,
  A700 : #ff3135,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);

$jax-purple: (
  50 : #f1e4ec,
  100 : #dcbbd0,
  200 : #c58db0,
  300 : #ad5f90,
  400 : #9c3d79,
  500 : #8a1b61,
  600 : #821859,
  700 : #77144f,
  800 : #6d1045,
  900 : #5a0833,
  A100 : #ff8dc3,
  A200 : #ff5aa8,
  A400 : #ff278d,
  A700 : #ff0e80,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$jax-forest: (
  50 : #e0eaea,
  100 : #b3cbcb,
  200 : #80a8a8,
  300 : #4d8585,
  400 : #266b6b,
  500 : #005151,
  600 : #004a4a,
  700 : #004040,
  800 : #003737,
  900 : #002727,
  A100 : #62ffff,
  A200 : #2fffff,
  A400 : #00fbfb,
  A700 : #00e1e1,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$jax-green: (
  50 : #e8f6e5,
  100 : #c7e7bf,
  200 : #a1d895,
  300 : #7bc86a,
  400 : #5fbc4a,
  500 : #43b02a,
  600 : #3da925,
  700 : #34a01f,
  800 : #2c9719,
  900 : #1e870f,
  A100 : #bfffb8,
  A200 : #91ff85,
  A400 : #63ff52,
  A700 : #4cff39,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$jax-white:(
  400: #fffff,
  contrast:(
    50: #fffff
)
);

@include mat-core();
$primary: mat-palette($jax-lightblue,900);
$accent:  mat-palette($jax-blue);
$warn:    mat-palette($jax-red);
$ghost:   mat-palette($jax-white);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);
