<div class="row">
  <div class="container">
    <div class="search-title col-lg-offset-4 col-lg-4">
      {{title}}
    </div>
  </div>
</div>
<div class="row">
    <div class="search col-lg-3">
      <input class="search-bar col-lg-12" type="text" placeholder="Search Ontology"/>
      <div class="search-results">
        <div class="row result-terms">
        </div>
        <div class="row result-diseases">
        </div>  
      </div>
    </div>
</div>
<div class="row">
  <div class="col-lg-offset-5 col-lg-2">
    <div class="hexagon"><span style="font-size:1.2em" class="glyphicon-glyphicon-list"></span></div>
    <div class="hexagon hexagon-middle"><span></span></div>      
  </div>
</div>


