.search{
    margin-top: 10px;
    padding: 15px;
    /**background-color: #A2AAAD;**/
    background-color:#0085CA;
}
.search-title{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:24px;
}
.search-bar{
    position: relative;
    outline: none;
    box-shadow: none;
    padding: 0;
    width: 100%;
    max-width: 100%;
    background: transparent;
    border: none;
    -webkit-appearance: none;
    text-align: inherit;
    vertical-align: bottom;
    min-width: 0;
    text-indent:5px;
    font-size:14px;
    color:white;
}

.search-bar::-webkit-input-placeholder { /* Chrome */
  color: white;
}
.search-bar:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
.search-bar::-moz-placeholder { /* Firefox 19+ */
  color: white;
  opacity: 1;
}
.search-bar:-moz-placeholder { /* Firefox 4 - 18 */
  color: white;
  opacity: 1;
}

.hexagon {
  position: relative;
  width: 175px; 
  height: 101.04px;
  background-color: #A2AAAD;
  margin: 50.52px 0;
  box-shadow: 0 0 20px rgba(129,129,129,0.6);
}
.hexagon:hover{
    box-shadow: 0 0 20px rgb(49,180,74);
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 123.74px;
  height: 123.74px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 25.6282px;
  box-shadow: 0 0 20px rgba(129,129,129,0.6);
}

.hexagon:before {
  top: -61.8718px;
}

.hexagon:after {
  bottom: -61.8718px;
}

/*cover up extra shadows*/
.hexagon span {
  display: block;
  position: absolute;
  top:0px;
  left: 0;
  width:175px;
  height:101.0363px;
  z-index: 2;
  background: inherit;
}
.hexagon-middle{
    margin-left: 92px;
    margin-top: 52px;
}