<div class="container">
  <div class="page-header">
    <div class="page-title">{{pageTitle}}</div>
    <div class="hr"></div>
    <div class="page-intro">{{pageIntro}}</div>
  </div>
<p>
  The HPO project has developed a number of tools for quality control and biocuration. We do not anticipate
  that these tools will be of interest to most users, but we have made the source-code open source
for some of these tools that we think might interest other groups involved in medical biocuration or ontology analysis.
</p>
<ul>
  <li>PhenoteFX is used for annotating disease models with HPO terms</li>
  <li>HpoAnnotQc is used for quality control of the HPO annotation files. </li>
</ul>
</div>
