.search-wrapper{
  height:100%;
  z-index: 2;
}

.search-wrapper .searchbar{
  background-color: white;
  border-style: none;
  outline: none;
}

.search-wrapper .mat-select{
  background-color: #eaeaea;
  float: left;
  border-right: solid 1px lightgray;
  outline: none;
}

.search-wrapper .search-output {
  font-size: 14px;
  overflow-x: hidden;
  background-color: white;
  cursor:pointer;
  position: relative;
  z-index:999;
  top: -50px;
}

.search-output .search-all {
  margin: 0 0 10px 10px;
  font-weight: 900;
}

.search-output .search-all .name{
  margin-left: 15px;
  font-weight: bold;
  text-decoration: none;
  color:unset !important;
}

.search-output .term-result .result-list .result:hover  {
  text-decoration:underline #0085CA;
  cursor:pointer;
}
.search-output .disease-result .result-list .result:hover  {
  text-decoration:underline #AB2328;
  cursor:pointer;
}
.search-output .gene-result .result-list .result:hover  {
  text-decoration:underline #43B02A;
  cursor:pointer;
}

.disease-result .result .id{
  color: grey;
  font-size: 10px;
  display: block;
  float: left;
  width: 50px;
  margin: 5px 0 0 0;
}

.term-result .result .id{
  color: grey;
  font-size: 10px;
  display: block;
  float: left;
  width: 60px;
  margin: 5px 0 0 0;
}

.gene-result .result .id{
  color: grey;
  font-size: 10px;
  display: block;
  float: left;
  width: 35px;
  margin: 5px 0 0 0;
}

span.result-list, div.result-list  {
  text-decoration:none;
  color: black !important;
  margin-top: 2.5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-output .result-list{
  margin-left: 15px;
  line-height: 20px;
}
.search-output .term-result {
  margin-left: 10px;
}
.search-output .disease-result {
  margin-left: 10px;

}
.search-output .gene-result {
  margin-left:10px;
}

.search-output .result .id {
  font-size: 10px;
  color: grey;
}

.term-result .result .id{
  margin: 0 !important;
}

.gene-result .result .id{
  margin: 0 !important;
}

.disease-result .result .id{
  margin: 0 !important;
}

.no-result{
  text-align: center;
}


p.hint{
  color:white;
  text-align: center;
  margin-left: 15px;
}
p.hint a{
  color: #ec9736 !important;
  cursor: pointer;
}

@media (max-width: 767px) {
  p.hint{
    margin: 15px 0;
    font-size: 12px;
  }
}
