<div class="container">
  <h1 class="center pageTitle">Phenomizer</h1>
  <h2 class="offline center">This application is 13 years old and the server no longer active. We are working on a replacement soon. Sorry for the inconvenience!</h2>
  <p>
    The Phenomizer is a web-based application.
    for clinical diagnostics in human genetics using semantic similarity searches in ontologies
    <a href="https://www.ncbi.nlm.nih.gov/pubmed/19800049" target="_blank">K&ouml;hler et al., AJHG, October 2009</a>.
    A detailed manual can be found in the online app.
  </p>
  <div fxLayout="row" fxLayoutAlign="center">
    <img class="static-images" src="assets/tools-images/phenomizer.png"/>
  </div>
</div>
