<div class="container" fxLayout="row wrap" fxLayoutAlign="center center">
  <h1 class="pageTitle center" fxFlexFill>Download Annotations</h1>
  <div *ngIf="version" class="download-banner-wrapper mat-elevation-z4" fxFlex=100 fxFlex.gt-md=30
       (click)="utilityService.openExternalUrl(hpoaUrl)">
    <mat-icon fxHide fxShow.gt-sm>download</mat-icon>
    <h3 class="download-banner-title">Download HPO annotations ({{version}})</h3>
  </div>
  <p class="center" fxFlexFill><a [routerLink]="['/data/annotation-format']">Click here for more information about the contents and formats of our files</a></p>
  <span fxFlexFill></span>
  <h2 class="center" fxFlexFill>Additional resources</h2>
  <div class="download-banner-wrapper additional-resources mat-elevation-z4" fxFlex=100 fxFlex.gt-md=20
       (click)="utilityService.openExternalUrl('https://purl.obolibrary.org/obo/hp/hpoa/genes_to_phenotype.txt')">
    <mat-icon fxHide fxShow.gt-sm>download</mat-icon>
    <h3 class="download-banner-title">Genes To Phenotype</h3>
  </div>
  <span fxFlexFill></span>
  <div class="download-banner-wrapper additional-resources mat-elevation-z4" fxFlex=100 fxFlex.gt-md=20
       (click)="utilityService.openExternalUrl('https://purl.obolibrary.org/obo/hp/hpoa/phenotype_to_genes.txt')">
    <mat-icon fxHide fxShow.gt-sm>download</mat-icon>
    <h3 class="download-banner-title">Phenotype To Genes</h3>
  </div>
  <span fxFlexFill></span>
  <div class="download-banner-wrapper additional-resources mat-elevation-z4" fxFlex=100  fxFlex.gt-md=20
       (click)="utilityService.openExternalUrl('https://purl.obolibrary.org/obo/hp/hpoa/genes_to_disease.txt')">
    <mat-icon fxHide fxShow.gt-sm>download</mat-icon>
    <h3 class="download-banner-title">Genes to Disease</h3>
  </div>
  <span fxFlexFill></span>
</div>
