.community {
  .pageTitle {
    border: 0;
  }
  .quick-links {
    .contributors-table {
      padding: 1.5rem;
    }

    .org-navigation {
      padding: 2rem;

      & button {
        margin: .5rem;
      }
    }

    .organization {
      padding: 1rem;
      .member {
        padding: 2rem;
        text-align: center;
        cursor: pointer;

        & :hover {
          opacity: .8;
        }

        .member-icon-wrapper {
          text-align: center;
        }

        .member-name {
          margin: .5rem 0 0 0;
          vertical-align: middle;

          .mat-icon {
            height: 14px;
            width: 14px;
            font-size: 14px;
            cursor: pointer;
          }
        }

        .member-role {
          text-transform: uppercase;
          font-size: 1rem;
        }
      }

      .organization-name {
        text-align: center;
        margin: 1rem 0;
      }
      .organization-description {
        font-style: italic;
        font-size: 1.2rem;
        color: darkslategray;
      }
    }
  }
}
