<div class="container other-browsers">
  <h1 class="center pageTitle">Other HPO Browsers</h1>
  <div class="flex flex-row flex-wrap">
    <div class="flex-[0_0_80%] ml-[10%] sm:flex-[0_0_30%] sm:ml-[15%] mb-2">
      <h2>The Ontology Lookup Service (OLS)</h2>
      <p>
        The <a href="https://www.ebi.ac.uk/ols/ontologies/hp" target="__blank">OLS</a> is a repository for biomedical
        ontologies that aims to provide a single point of access to the latest
        ontology versions. You can browse the ontologies through the website as well as programmatically via the OLS
        API.
      </p>
      <img class="static-images" src="assets/other-browser-images/ols.png" alt="Ontology Lookup Service screenshot"/>
    </div>
    <div class="flex-[0_0_80%] ml-[10%] sm:flex-[0_0_30%] sm:ml-[15%] mb-2">
      <h2>Ontobee</h2>
      <p><a href="http://www.ontobee.org/ontology/HP" target="__blank">Ontobee</a> is a linked-data server designed for
        ontologies. Ontobee is aimed to facilitate ontology data sharing,
        visualization, query, integration, and analysis.</p>
      <img class="static-images" src="assets/other-browser-images/ontobee.png" alt="Ontobee screenshot"/>
    </div>
    <div class="flex-[0_0_80%] ml-[10%] sm:flex-[0_0_30%] sm:ml-[15%]">
      <h3>BioPortal</h3>
      <p><a target="__blank" href="https://bioportal.bioontology.org/ontologies/HP">BioPortal</a> is the ontology
        browser of the National Center for Biomedical Ontology.</p>
      <img class="static-images" src="assets/other-browser-images/bioportal.png" alt="BioPortal screenshot"/>
    </div>
  </div>
</div>
