.faq {

  & .mat-expansion-panel {
    margin-bottom: 5px;
    width: 70%;
    border-radius: 0 !important;
  }

  & .mat-expanded {

    & .mat-expansion-panel-header {
      background-color: rgba(41, 101, 124, 1)
    }

    & .mat-expansion-panel-header-title {
      color: white;
    }

  }

}

.faq-btn {
  border-radius: 0;
  background-color: #b84448;
  color: white !important;
  text-decoration: none;

  &:hover {
    opacity: .8;
  }

}


