/* You can add global styles to this file, and also import other style files */
.container {
    padding-right: 5px;
    padding-left:  5px;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width:95%;
    }
  }

a {
    color: #0000EE !important;
    text-decoration: none;
}
a:hover {
    color: #551A8B !important;
    text-decoration: underline;
}
.main {
  margin-top:15px;
  margin-bottom: 15px;
}

.hr{
  border-bottom: 1px solid rgba(208, 211, 212, .8);
  width: 250px;
  margin: 5px 0 10px 0;
}

p {
  font-size: 14px;
}
* {
  font-family: 'Titillium Web', sans-serif;
}
strong {
  font-weight:800;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

.center{
  text-align: center;
}

.small-icon {
  font-size: 10px;
}
