<div class="container">
    <div class="page-header">
        <div class="page-title">{{pageTitle}}</div>
        <div class="hr"></div>
        <div class="page-intro">{{pageIntro}}</div>
    </div>
</div>
<div class="container">
  <md-tab-group class="override-tab-group" [(selectedIndex)]="selectedTabIndex">
    <md-tab label="Contact">
      <div class="tab-content">
        <p>Please do not hesitate to contact us if you have any further questions:<p>
        <ul>
          <li>
              <a href="http://drseb.github.io/" target="__blank">Sebastian Köhler</a> (dr.sebastian.koehler@gmail.com)
          </li>
          <li>
             <a href="https://www.jax.org/research-and-faculty/faculty/peter-robinson" target="__blank"> Peter Robinson</a> (peter.robinson@jax.org)
          </li>
        </ul>
      </div>
    </md-tab>
    <md-tab label="FAQ">
      <div class="tab-content" *ngIf="selectedTabIndex == 1">
        <md-accordion>
          <md-expansion-panel>
            <md-expansion-panel-header>
                <md-panel-title>
                <strong>How to collaborate with the HPO ?</strong>
                </md-panel-title>
            </md-expansion-panel-header>
            <p>We welcome the participation of interested colleagues. We anticipate that the structure of the HPO will continue to be refined and completed for some time to come. 
              Groups or persons with expert knowledge in a particular domain of human phenotyping in a medical genetics setting are invited to contribute their knowledge on a collaborative basis. 
              Please contact us to discuss details.</p>
            <p>We are currently transitioning from annotations derived in a semiautomated fashion from the OMIM database to manually curated annotations. Given the number of human hereditary diseases, 
              this is no small task. We greet participation of colleagues with an interest in specific hereditary diseases to improve the annotations for ‘their’ disease. Please get in contact with us to discuss this form of collaboration. 
              We are also preparing an online system for manual annotations.</p>
            <p>The issue tracker is <a href="https://github.com/obophenotype/human-phenotype-ontology/issues" target="__blank">available on Github.</a></p>
            <h5>Collaborations for translations</h5>
            <p>We are working with several people to translate more content of HPO into a multitude of languages. Several translations are being actively developed at the moment (e.g. german).</p>
            <p>The translations are considered a project coordinated by the HPO team and is hosted on <a href="https://github.com/Phenomics/HPO-translations" target="__blank">GitHub</a>. Please do not start translating HPO content without contacting us beforehand. 
              This might cause duplicated translations and other problems. Please contact us here.</p>
          </md-expansion-panel>
          <md-expansion-panel>
            <md-expansion-panel-header>
                <md-panel-title>
                <strong>What is the difference between genes_to_phenotypes.txt and phenotype_to_genes.txt ?</strong>
                </md-panel-title>
            </md-expansion-panel-header>
            <p>A question that is asked very often, deals with the asymmetry of the files:</p>
            <ul>
              <li><i>genes_to_phenotypes.txt</i></li>
              <li><i>phenotype_to_genes.txt</i></li>
            </ul>
            <p>The difference is that one files uses the transitivity of the annotations and the other does not. I.e. in <i>genes_to_phenotypes.txt</i> we list for each gene the most specific HPO-classes (and not all the ancestors). 
              In <i>phenotype_to_genes.txt</i> we show each phenotype that has at least one gene associated with it. Additionally, we have mapped the genes to all its the ancestor classes. For example given that:</p>
            <ul>
              <li>HP_1 subclass_of HP_3</li>
              <li>HP_1 subclass_of HP_3</li>
            </ul>
            <p>then <i>genes_to_phenotypes.txt</i> </p>
            <ul>
              <li><strong>geneA</strong> annotated to HP_1</li>
              <li><strong>geneB</strong> annotated to HP_2</li>
            </ul>
            <p>then <i>phenotype_to_genes.txt</i> contains:</p>
            <ul>
              <li>HP_3 annotates <strong>geneA</strong> and <strong>geneB</strong></li>
            </ul>
          </md-expansion-panel>

          <md-expansion-panel>
              <md-expansion-panel-header>
                  <md-panel-title>
                  <strong>What is the difference between “ALL_FREQUENCIES” and “FREQUENT_FEATURES”?</strong>
                  </md-panel-title>
              </md-expansion-panel-header>
            <p>Each annotation has a frequency associated, i.e. how many patients with that disease have this clinical feature. “ALL_FREQUENCIES” denotes that we do not use any filter. 
              “FREQUENT_FEATURES” means that we exclude all features seen in less than 50% of the patients.</p>
          </md-expansion-panel>
            <md-expansion-panel>
                <md-expansion-panel-header>
                  <md-panel-title>
                    <strong>What is your procedure for associating genes with HPO phenotypes?</strong>
                  </md-panel-title>
                </md-expansion-panel-header>
                <p>The following file is used to associate genes with phenotypes.</p>
                <ul>
                  <li>
                    <i>genes_to_phenotypes.txt</i>
                  </li>
                </ul>
                <p>
                    In many cases, there are multiple diseases that are associated with mutations in the same gene (for instance, mutations in the LMNA gene are associated with multiple diseases including Cardiomyopathy, 
                    dilated, 1A [MIM:115200], Charcot-Marie-Tooth disease, type 2B1 [605588], Emery-Dreifuss muscular dystrophy 2, AD [181350], and Hutchinson-Gilford progeria [176670]. Each of these diseases is associated with a 
                    different spectrum of phenotypic features. The gene-to-phenotype association in our databases takes the set of all phenotypic features (HPO terms) associated with one or more diseases causes by mutation in the gene under 
                    consideration. Thus, LMNA is associated with Alopecia (which is a feature of Hutchinson-Gilford progeria) as well as Ventricular arrhythmia (which is a feature of Cardiomyopathy, dilated, 1A).
                </p>
            </md-expansion-panel>
        </md-accordion>
      </div>
    </md-tab>
    <md-tab label="License">
      <div class="tab-content">
        <p>All of the following license restrictions apply to all files provided by the HPO project:</p>
        <ol>
          <li>
              The HPO vocabularies, annotation files, tools and documentation are freely available.
          </li>
          <li>
              The HPO is copyrighted to protect the integrity of the vocabularies, which means that changes to the HPO vocabularies need to be done by HPO developers. However, anyone can download the HPO and use the ontologies or other HPO files under three conditions:<br>
              <ul>
                <li>That the Human Phenotype Ontology Consortium is <strong>acknowledged</strong> and <strong>cited</strong> properly.</li>
                <li>
                    That any HPO Consortium file(s) displayed publicly <i>include the date(s) and/or version number(s)</i> of the relevant HPO file(s).
                </li>
                <li>
                    That neither the content of the HPO file(s) nor the logical relationships embedded within the HPO file(s) be altered in any way. (Content additions and modifications have to be suggested using our <a href="https://github.com/obophenotype/human-phenotype-ontology/issues" target="__blank">issue tracker</a>.)
                </li>
              </ul>
          </li>
          <li>
              We suggest that you follow standard scientific citation practice if you use the HPO in publications.
          </li>
          <li>Services and products have to display a short acknowledgement statement, that makes clear that the service/product is using HPO.</li>
        </ol>
        <h4>Reference</h4>
        <p>When using or mentioning HPO, please cite:</p>
        <p>Sebastian Köhler, Sandra C Doelken, Christopher J. Mungall, Sebastian Bauer, Helen V. Firth, et al.
            <i>The Human Phenotype Ontology project: linking molecular biology and disease through phenotype data</i>
            Nucl. Acids Res. (1 January 2014) 42 (D1): D966-D974 doi:10.1093/nar/gkt1026</p>
        <h5>Citation for products/services</h5>
        <p>This service/product is using the Human Phenotype Ontology (version information). Find out more at http://www.human-phenotype-ontology.org</p>
        <h4>Version information</h4>
        <p>The IRI for HPO releases look like this:</p>
        <p><strong>http://purl.obolibrary.org/obo/hp/releases/2016-01-13/hp.owl</strong></p>
      </div>
    </md-tab>
    <md-tab label="Citation">
      <div class="tab-content">
        <p>
          We suggest that you follow standard scientific citation practice if you use the HPO in publications. Services and products have to display a short acknowledgement statement, that makes clear that the service/product is using HPO.
        </p>
        <h4>Reference</h4>
        <p>Sebastian Köhler, Nicole Vasilevsky, Mark Engelstad, Erin Foster, et al. <a href="https://academic.oup.com/nar/article/45/D1/D865/2574174/The-Human-Phenotype-Ontology-in-2017" target="__blank">The Human Phenotype Ontology</a> in 2017
            Nucl. Acids Res. (2017) doi: 10.1093/nar/gkw1039</p>
        <h5>Citation for products/services</h5>
        <p>This service/product is using the Human Phenotype Ontology (version information). Find out more at http://www.human-phenotype-ontology.org</p>
      </div>
    </md-tab>
    <md-tab label="HPO Users">
      <div class="tab-content">
        <p>Thinking of a better table to represent this data</p>
        <div style="float:left;" class="container">
         <h5>Consortia Projects</h5>
          <div *ngFor="let item of consortiaData;">
            {{item}}
          </div>
        </div>
      </div>
    </md-tab>
  </md-tab-group>
</div>