.tab-content {
    margin:15px;
}

.panel-hpo-custom .panel.card {
    border-radius: 0px;
}

/*::ng-deep .override-tab-group.mat-tab-group md-tab-header{
    border:none;
}
::ng-deep .mat-tab-header .mat-tab-list .mat-tab-label {
    border: 1px solid rgba(0, 0, 0, .2);
}*/
.mat-expansion-panel{
    margin-bottom:5px;
}

