<div class="row">
  <div class="container">
    <div class="search-title">
      <h3>{{title}}</h3>
    </div>
  </div>
</div>
<div class="row">
  <searchbar></searchbar>
  <div class="col-lg-offset-1 col-lg-6">
    <div class="search-intro">
    <p>The Human Phenotype Ontology (HPO) Browser provides allows you to explore the standardized vocabulary of phenotypic abnormalities encountered in human disease.
      Each term in the HPO describes a phenotypic abnormality, such as atrial septal defect. HPO currently contains approximately 11,000 terms (still growing) and 
      over 115,000 annotations to hereditary diseases. The HPO also provides a large set of HPO annotations to approximately 4000 common diseases.</p>
      <p> To begin, you can start your search to the left. Or you can leverage other ways to find what you're looking for by navigating the Table of Phenotypes or walking through
          the Tree of Phenotypes.</p>
    </div>
    <div class="hexagon-group">
      <div class="hexagon"><span class="glyphicon glyphicon-list hexagon-glyph"></span></div>
      <div class="hexagon hexagon-middle"><span class="glyphicon glyphicon-grain hexagon-glyph"></span></div>
    </div>      
  </div>
</div>



