
.search-title {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.search-intro {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 25px;
  color: black;
  /* font-size: 14px; */
      box-shadow: 1px 1px 1px 1px #D0D3D4;
}
.hexagon-group{
  width: auto;
  margin-top: 70px;
}
.hexagon-glyph{
  color: white;
  padding: 15px 0px 0px 55px;
  font-size:4.0em;
}
.hexagon {
  position: relative;
  width: 175px; 
  height: 101.04px;
  background-color: #A2AAAD;
  margin: 50.52px 0;
  box-shadow: 0 0 20px rgba(129,129,129,0.6);
}
.hexagon:hover {
    box-shadow: 0 0 20px rgb(49,180,74);
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 123.74px;
  height: 123.74px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 25.6282px;
  box-shadow: 0 0 20px rgba(129,129,129,0.6);
}

.hexagon:before {
  top: -61.8718px;
}

.hexagon:after {
  bottom: -61.8718px;
}

/*cover up extra shadows*/
.hexagon span {
  display: block;
  position: absolute;
  top: 0px;
  left: 0;
  width: 175px;
  height: 101.0363px;
  z-index: 2;
  background: inherit;
}
.hexagon-middle {
    margin-left: 185px;
    /* margin-top: 52px; */
    margin-top: -149px;
}