<div class="gene-component">
  <div class="container-custom" [hidden]="isLoading">
    <div class="row">
      <div class="item-header">
          <span [hidden]="!isLoading">
              <mat-progress-bar  class="loading-result-details" color="primary" mode="buffer">
              </mat-progress-bar>
          </span>

      </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <!-- Gene Summary -->
            <mat-card class="item-summary">
                <mat-card-content>
                  <h3 class="card-title">Summary</h3>
                  <hr class="underline-hr">
                  <p><strong>Entrez ID</strong>:&nbsp;{{entrezGene.uid}}</p>
                  <p><strong>Gene Name</strong>:&nbsp;{{entrezGene.name}}</p>
                  <p><strong>Gene Location</strong>:&nbsp;{{entrezGene.maplocation}}</p>
                  <p><strong>Definition</strong><br>
                    <i>{{entrezGene.summary}}</i>
                  </p>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col-lg-9">
              <!-- Gene Banner -->
              <mat-card class="item-summary mat-elevation-z6">
                  <mat-card-content>
                    <span class="item-title">{{entrezGene.name}}</span>
                    <span class="item-id">{{entrezGene.uid}}</span>
                    <hr class="underline-hr">
                    <mat-list>
                      <mat-list-item>
                        <strong>Synonyms:&nbsp;</strong>
                        <i *ngFor="let item of entrezGene.aliases; let isLast=last">{{item}}{{isLast ? '' : ', '}}</i>
                      </mat-list-item>
                    </mat-list>
                  </mat-card-content>
              </mat-card>

              <!--TABS -->
              <mat-tab-group class="term-details-tab-group mat-elevation-z6"
                      selectedIndex="0">

                  <!-- Widget tab -->
                  <mat-tab label="UniProt Viewer">

                    <mat-progress-bar  *ngIf="uniProtLoading" class="loading-protvista" color="primary" mode="buffer">
                    </mat-progress-bar>

                    <div class="ProtVistaContainer col-lg-12" >
                      <p *ngIf="uniprotId != 'error'"><a href="{{uniProtWidgetURL}}{{this.uniprotId}}" target="__blank">{{this.uniprotId}}</a></p>
                      <div class="ProtVistaReference">
                        <div *ngIf="uniprotId == 'error'">
                          <p><strong>No UniProt Reference Could be found for Gene {{entrezGene.name}}</strong></p>
                        </div>
                      </div>
                    </div>
                  </mat-tab>

                  <!-- Term association tab -->
                  <mat-tab label="Term Associations">

                    <div class="associations term-association">
                      <mat-table #table [dataSource]="termSource" matSort>
                        <mat-header-row *matHeaderRowDef="termColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: termColumns;"></mat-row>
                        <ng-container matColumnDef="ontologyId">
                          <mat-header-cell *matHeaderCellDef> Term Identifier </mat-header-cell>
                          <mat-cell *matCellDef="let row">
                            <a routerLink="/browse/term/{{row.ontologyId}}">{{row.ontologyId}}</a>
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef>Term Name </mat-header-cell>
                            <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="definition">
                          <mat-header-cell *matHeaderCellDef>Definition</mat-header-cell>
                          <mat-cell *matCellDef="let row">{{row.definition}}</mat-cell>
                        </ng-container>
                      </mat-table>
                    </div>
                  </mat-tab>

                  <!-- Disease association tab -->
                  <mat-tab label="Disease Associations">

                    <div class="associations disease-association">
                        <!--<h4 class="title">Disease Associations</h4>-->
                        <mat-table #table [dataSource]="diseaseSource" matSort>
                          <mat-header-row *matHeaderRowDef="diseaseColumns"></mat-header-row>
                          <mat-row *matRowDef="let row; columns: diseaseColumns;"></mat-row>
                          <ng-container matColumnDef="diseaseId">
                            <mat-header-cell *matHeaderCellDef>Disease Identifier </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                              <a routerLink="/browse/disease/{{row.diseaseId}}">{{row.diseaseId}}</a>
                            </mat-cell>
                          </ng-container>
                          <ng-container matColumnDef="diseaseName">
                              <mat-header-cell *matHeaderCellDef>Disease Name </mat-header-cell>
                              <mat-cell *matCellDef="let row">{{row.diseaseName}}</mat-cell>
                          </ng-container>
                        </mat-table>
                    </div>
                  </mat-tab>
              </mat-tab-group>
        </div>
    </div>
  </div>
</div>
