<div class="container funding">
  <h1 class="center pageTitle">Funding and Grant Support</h1>
  <p>The HPO project gratefully acknowledges funding from a number of sources since its inception in 2007.</p>
  <ul>
    <li><a href="https://www.charite.de/" target="__blank">Charité-Universitätsmedizin Berlin</a> institutional funding.
    </li>
    <li><a href="https://www.jax.org/" target="__blank">The Jackson Laboratory</a> institutional funding.</li>
    <li>Deutsche Forschungsgemeinschaft ( <a href="http://www.dfg.de/" target="__blank">DFG</a> ): 2007-2013
      (DFG-Projektnummer 103545043).
    </li>
    <li>
      Bundesministerium fur Bildung und Forschung ( <a href="http://www.erare.eu/" target="__blank">E-RARE program</a>
      ):
      <ul>
        <li><a href="https://www.ncbi.nlm.nih.gov/pubmed/29425702" target="__blank">HIPBI-RD</a>. HIPBI-RD has received
          funding from the European
          Union's Horizon 2020 Research and Innovation program under the ERA-NET Cofund Action n° 643578. It was
          supported by
          the French National Research Agency (ANR), the German Federal Ministry of Education and Research (BMBF),
          German
          Research Foundation (DFG), and the Canadian Institutes for Health Research (CIHR) under the frame of E-Rare-3,
          the ERA-NET for research on rare diseases.
        </li>
      </ul>
    </li>

    <li>
      European Commission (<a href="https://ec.europa.eu/programmes/horizon2020/">Horizon 2020</a>): <a
      href="http://solve-rd.eu/" target="__blank">SOLVE-RD</a>
    </li>
    <li>
      National Institutes of Health (<a href="https://www.nih.gov/" target="__blank">NIH</a>):
      National Institutes of Health (NIH) Monarch Initiative [NIH OD #5R24OD011883]; Biomedical Data Translator,
      NCATS [OT3 TR002019-01S2]; Data Commons OD/NHBLI [1 OT OD025464-01; 1 OT3 HL142479-01]
    </li>
  </ul>
  <div class="funding-thumbnails">
    <div fxLayout="row wrap" fxLayoutAlign="center">
      <div fxFlex="30" fxFlexOffset="10">
        <a href="http://www.dfg.de" target="__blank">
          <img src="assets/funding-images/DFG.jpg"/>
        </a>
      </div>
      <div fxFlex="30" fxFlexOffset="10">
        <a href="https://www.bmbf.de/en/index.html" target="__blank">
          <img src="assets/funding-images/bmbf.png"/>
        </a>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center">
      <div fxFlex="30" fxFlexOffset="10">
        <a href="http://solve-rd.eu/" target="__blank">
          <img src="assets/funding-images/solve.png"/>
        </a>
      </div>
      <div fxFlex="30" fxFlexOffset="10">
        <a href="https://www.ncbi.nlm.nih.gov/pubmed/29425702" target="__blank">
          <img src="assets/funding-images/hipbi.png"/>
        </a>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center">
      <div fxFlex="30" fxFlexOffset="10">
        <a href="https://www.nih.gov/" target="__blank">
          <img src="assets/funding-images/NIH.jpg"/>
        </a>
      </div>
      <div fxFlex="30" fxFlexOffset="10">
        <a href="https://ec.europa.eu/programmes/horizon2020/" target="__blank">
          <img src="assets/funding-images/H2020-Web.png"/>
        </a>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center">
      <div fxFlex="30" fxFlexOffset="10">
        <a href=" https://www.charite.de/" target="__blank">
          <img src="assets/charite-logo.png"/>
        </a>
      </div>
      <div fxFlex="30" fxFlexOffset="10">
        <a href="https://www.jax.org/" target="__blank">
          <img src="assets/jax_logo.png"/>
        </a>
      </div>
    </div>
  </div>
</div>
