<footer class="footer mat-elevation-z4">
  <div class="group-links-wrapper col-lg-4 col-md-8">
    <div class="group">
      <button mat-button routerLink="license">License</button>
      <button mat-button routerLink="contact">Contact</button>
      <button mat-button routerLink="citation">Cite</button>
      <button mat-button routerLink="disclaimer">Disclaimer</button>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 version">
    <p>{{version}}</p>
  </div>
  <div class="logo-group-wrapper">
    <div class="logo-group">
      <a href="https://www.jax.org/" target="__blank"><img class="footer-brand" src="assets/jax_logo.png"/></a>
      <a href="https://www.charite.de/" target="__blank"><img class="footer-brand-larger" src="assets/charite-logo.png"/></a>
      <a href="https://monarchinitiative.org/" target="__blank"><img class="footer-brand-larger" src="assets/monarch-logo.png"/></a>
    </div>
  </div>
</footer>
