<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid hidden-xs">
      <div class="row">
        <div class="col-lg-3">
          <img src="../../../assets/hpo-logo.jpg" class="nav-brand"/>
          <h3 class="nav-title">{{title}}</h3>
        </div>
        <div class="col-lg-4">
          <ul class="nav navbar-nav">
              <li routerLink="/">
                <a>Home</a>
              </li>
              <li routerLink="hpo/browser">
                <a>Browser</a>
              </li>
              <li>
                <a>Downloads</a>
              </li>
              <li routerLink="hpo/resources">
                <a>Resources</a>
              </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="hidden-lg">

    </div>
</nav>
