.navbar{
    background-color: #05396b;
    height:inherit;
}

.navbar .nav-title {
  margin-top: 10px;
  float: right;
  color: white;
}

.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
    background-color: #05396b;
    margin-top:5px;
}
.nav-brand {
    height: 40px;
    width: 40px;
    margin: 5px 0 0 10px;
}
.navbar-nav{
    cursor: pointer;
    color:white;
}
.navbar-nav li>a{
    color:white;
}
.navbar-nav li>a:hover{
    color: #A2AAAD;
}
.navbar-nav li:hover{
    background-color:white;
    border-bottom: solid 3px #A2AAAD;
}
