.navbar{
    background-color: #05396b;
    border-width: 0px;
    height:53px;
}
.navbar .nav-title {
  margin-top: 10px;
  float: right;
  color: white;
}
.nav-brand {
    height: 40px;
    width: 40px;
    margin: 5px 0 0 10px;
}
.navbar-nav{
    cursor: pointer;
    color:white;
}
.navbar-nav li>a{
    color:white;
}
.navbar-nav li>a:hover{
    color: #A2AAAD;
}
.navbar-nav li:hover{
    background-color:white;
    border-bottom: solid 3px #A2AAAD;
}
