<mat-sidenav-container>
  <app-navbar-hpo (navToggle)="sidenav.open(); mobileNavSection = 'home'"></app-navbar-hpo>
  <mat-sidenav #sidenav class="sidenav">
    <mat-nav-list>
      <h3 class="center menuTitle">Menu</h3>
      <hr>
        @if (mobileNavSection !== 'home') {
          <div>
            <a mat-list-item class="backButton" (click)="backNavigate()">
              <mat-icon matListItemIcon aria-label="Go Back" fontIcon="arrow_left"></mat-icon>
              <span matListItemTitle>Back</span>
            </a>
          </div>
        }
        @if (mobileNavSection === 'home') {
          <div>
            <a mat-list-item routerLink="/">Home</a>
            <a mat-list-item (click)="sidenav.close()" routerLink="about">About</a>
            <a mat-list-item class="iconed" (click)="mobileNavigate('dataMenu')">
              <span matListItemTitle>Data</span>
              <span matListItemMeta>
                <mat-icon aria-label="About" fontIcon="arrow_right"></mat-icon>
              </span>   
            </a>
            <a mat-list-item class="iconed" (click)="mobileNavigate('toolsMenu')">
              <span matListItemTitle>Tools</span>
              <span matListItemMeta>
                <mat-icon aria-label="Tools" fontIcon="arrow_right"></mat-icon>
              </span>
            </a>
            <a mat-list-item class="iconed" (click)="mobileNavigate('resourcesMenu')">
              <span matListItemTitle>Resources</span>
              <span matListItemMeta>
                <mat-icon aria-label="Resources" fontIcon="arrow_right"></mat-icon>
              </span>
            </a>
          </div>
        }
        @if (mobileNavSection === 'toolsMenu') {
          <div>
            <a mat-list-item routerLink="browse/profile-search">Profile Search</a>
            <a mat-list-item class="iconed" (click)="mobileNavigate('genomicTools')">
              <span matListItemTitle>Genomic Tools</span>
              <span matListItemMeta>
                <mat-icon aria-label="Genomic Tools" fontIcon="arrow_right"></mat-icon>
              </span>
            </a>
            <a mat-list-item class="iconed" (click)="mobileNavigate('phenomicTools')">
              <span matListItemTitle>Phenomic Tools</span>
              <span matListItemMeta>
                <mat-icon aria-label="Phenomic Tools" fontIcon="arrow_right"></mat-icon>
              </span>
            </a>
            <a mat-list-item (click)="sidenav.close()" routerLink="tools/hpo-browser">Other HPO Browsers</a>
            <a mat-list-item (click)="sidenav.close()" routerLink="tools/workbench">HPO Workbench</a>
          </div>
        }

        @if (mobileNavSection === 'genomicTools') {
          <div>
            <a mat-list-item (click)="sidenav.close()" routerLink="tools/genomiser">Genomiser</a>
            <a mat-list-item (click)="sidenav.close()" routerLink="tools/exomiser">Exomiser</a>
          </div>
        }

        @if (mobileNavSection === 'phenomicTools') {
          <div>
            <a mat-list-item (click)="sidenav.close()" routerLink="tools/phenomizer">Phenomizer</a>
            <a mat-list-item (click)="sidenav.close()" routerLink="tools/phenogramviz">PhenoGramViz</a>
            <a mat-list-item routerLink="tools/loinc2hpo">LOINC2HPO</a>
          </div>
        }

        @if (mobileNavSection === 'resourcesMenu') {
          <div>
            <a mat-list-item (click)="sidenav.close()" routerLink="resources/faq">FAQ</a>
            <a mat-list-item routerLink="contact/">Contact Us</a>
          </div>
        }
        @if (mobileNavSection === 'dataMenu') {
          <div>
            <a mat-list-item (click)="sidenav.close()" routerLink="data/ontology">Ontology</a>
            <a mat-list-item (click)="sidenav.close()" routerLink="data/annotations">Annotations</a>
            <a mat-list-item (click)="sidenav.close()" routerLink="resources/phenopacket">Annotations</a>
            <a mat-list-item class="iconed" (click)="mobileNavigate('translationMenu')">
              <span matListItemTitle>Translation</span>
              <span matListItemMeta>
                <mat-icon aria-label="Translation" fontIcon="arrow_right"></mat-icon>
              </span>
            </a>
            <a mat-list-item href="/api/hpo/docs">API</a>
          </div>
        }

        @if (mobileNavSection === 'translationMenu') {
          <div>
            <a mat-list-item (click)="sidenav.close()" routerLink="data/layperson">Layperson Synonyms</a>
            <a mat-list-item (click)="sidenav.close()" routerLink="data/translations">Translations and Mapping</a>
          </div>
        }

      </mat-nav-list>
    </mat-sidenav>
    <div class="flex flex-col my-4 flex-auto">
      <router-outlet></router-outlet>
    </div>
    <app-footer class="mat-elevation-z4"></app-footer>
    <app-floating-feedback></app-floating-feedback>
  </mat-sidenav-container>
