<div class="gene-component">
  <div class="container-custom" [hidden]="isLoading">
    <div class="row">
      <div class="item-header">
          <span [hidden]="!isLoading">
              <mat-progress-bar class="loading-result-details" color="primary" mode="indeterminate">
              </mat-progress-bar>
          </span>
      </div>
    </div>

    <div fxLayout="row wrap">
      <div fxFlex="100" fxFlex.gt-sm="25">
        <!-- Gene Summary -->
        <mat-card class="item-summary">
          <mat-card-content>
            <div *ngIf="!entrezError">
              <h3 class="card-title">Summary</h3>
              <hr class="underline-hr">
              <p><strong>Gene Location</strong>:&nbsp;{{entrezGene.maplocation}}</p>
              <p><strong>Definition</strong><br>
                <i>{{entrezGene.summary}}</i>
              </p>
            </div>
            <div *ngIf="entrezError">
              Entrez API Error. If you recieved this error please report it.
              <a mat-raised-button href="https://github.com/TheJacksonLaboratory/hpo-web/issues" target="__blank"
                 class="mat-btn">Report Issue</a>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <div fxFlex fxFlexOffset.gt-sm="1">
        <!-- Gene Banner -->
        <mat-card class="item-summary mat-elevation-z6">
          <mat-card-content>
            <span class="item-title">{{entrezGene.name}}&nbsp;</span>
            <span class="item-id">{{entrezGene.uid}}</span>
            <hr class="underline-hr">
            <mat-list>
              <mat-list-item>
                        <span *ngIf="entrezGene.aliases.length > 0">
                          <strong>Synonyms:&nbsp;</strong>
                         <i *ngFor="let item of entrezGene.aliases; let isLast=last">{{item}}{{isLast ? '' : ', '}}</i>
                        </span>
              </mat-list-item>
            </mat-list>
            <br>
            <button mat-raised-button class="download-associations"
                    [disabled]="this.termAssoc.length == 0 && this.diseaseAssoc.length == 0"
                    (click)="downloadDialog()"><span class="material-icons">get_app</span> Export Associations
            </button>
          </mat-card-content>
        </mat-card>

        <!--TABS -->
        <div class="hpo-group-tab">
          <mat-tab-group class="term-details-tab-group mat-elevation-z6"
                         selectedIndex="0">

            <!-- Widget tab -->
           <!-- <mat-tab label="UniProt Viewer" *ngIf="!mobile">
              <mat-progress-bar *ngIf="uniProtLoading" class="loading-protvista" color="primary" mode="indeterminate">
              </mat-progress-bar>

              <div class="ProtVistaContainer">
                <p *ngIf="uniprotId != 'error'"><a href="{{uniProtWidgetURL}}{{this.uniprotId}}"
                                                   target="__blank">{{this.uniprotId}}</a></p>
                <div class="ProtVistaReference">
                  <div *ngIf="uniprotId == 'error'">
                    <p><strong>No UniProt Reference Could be found for Gene {{entrezGene.name}}</strong></p>
                  </div>
                </div>
              </div>
            </mat-tab>-->

            <!-- Term association tab -->
            <mat-tab label="HPO Associations">

              <div [hidden]="termAssoc.length == 0">
                <div class="tab-output-container">
                  <!-- filter -->
                  <div class="filter-container">
                    <div class="filter-header">
                      <mat-form-field>
                        <input id="termFilterInput" matInput (keyup)="applyTermFilter($event.target.value)"
                               placeholder="Filter">
                      </mat-form-field>
                    </div>
                  </div>

                  <!-- term table -->
                  <mat-table [dataSource]="termDataSource" matSort>
                    <mat-header-row *matHeaderRowDef="termColumns; sticky: true"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: termColumns;"></mat-row>
                    <ng-container matColumnDef="ontologyId">
                      <mat-header-cell *matHeaderCellDef> Term Identifier</mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <a routerLink="/browse/term/{{row.ontologyId}}">{{row.ontologyId}}</a>
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="name">
                      <mat-header-cell *matHeaderCellDef>Term Name</mat-header-cell>
                      <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="definition">
                      <mat-header-cell *matHeaderCellDef>Definition</mat-header-cell>
                      <mat-cell *matCellDef="let row">{{row.definition}}</mat-cell>
                    </ng-container>
                  </mat-table>

                  <!-- paging component -->
                  <mat-paginator #termPaginator [pageSizeOptions]="[5, 10, 50, 100, 500]"></mat-paginator>
                </div>
              </div>

              <!-- no results found -->
              <div class="container center" [hidden]="termAssoc.length != 0">
                <h4>No term results found for "{{query}}"</h4>
              </div>
            </mat-tab>

            <!-- Disease association tab -->
            <mat-tab label="Disease Associations">

              <div [hidden]="diseaseAssoc.length == 0">
                <div class="tab-output-container mat-elevation-z8">
                  <!-- filter -->
                  <div class="filter-container">
                    <div class="filter-header">
                      <mat-form-field>
                        <input id="diseaseFilterInput" matInput (keyup)="applyDiseaseFilter($event.target.value)"
                               placeholder="Filter">
                      </mat-form-field>
                    </div>
                  </div>
                  <!-- Disease Association Table -->
                  <mat-table [dataSource]="diseaseDataSource" matSort>
                    <mat-header-row *matHeaderRowDef="diseaseColumns; sticky: true"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: diseaseColumns;"></mat-row>
                    <ng-container matColumnDef="diseaseId">
                      <mat-header-cell *matHeaderCellDef>Disease Identifier</mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <a routerLink="/browse/disease/{{row.diseaseId}}">{{row.diseaseId}}</a>
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="diseaseName">
                      <mat-header-cell *matHeaderCellDef>Disease Name</mat-header-cell>
                      <mat-cell *matCellDef="let row">{{row.diseaseName}}</mat-cell>
                    </ng-container>
                  </mat-table>

                  <!-- paging component -->
                  <mat-paginator #diseasePaginator [pageSizeOptions]="[5, 10, 50, 100, 500]"></mat-paginator>
                </div>
              </div>

              <!-- no results found -->
              <div class="container center" [hidden]="diseaseAssoc.length != 0">
                <h4>No disease results found for "{{query}}"</h4>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>
