.navbar {
  background: rgba(41,101,124,1);
  background: -moz-linear-gradient(left, rgba(41,101,124,1) 0%, rgba(39,86,105,1) 46%, rgba(39,84,103,1) 51%, rgba(43,63,78,1) 88%, rgba(46,56,68,1) 100%);
  background: -webkit-gradient(linear,left top, right top, color-stop(0%, rgba(41,101,124,1)), color-stop(46%, rgba(39,86,105,1)), color-stop(51%, rgba(39,84,103,1)), color-stop(88%, rgba(43,63,78,1)), color-stop(100%, rgba(46,56,68,1)));
  background: -webkit-linear-gradient(left, rgba(41,101,124,1) 0%, rgba(39,86,105,1) 46%, rgba(39,84,103,1) 51%, rgba(43,63,78,1) 88%, rgba(46,56,68,1) 100%);
  background: -o-linear-gradient(left, rgba(41,101,124,1) 0%, rgba(39,86,105,1) 46%, rgba(39,84,103,1) 51%, rgba(43,63,78,1) 88%, rgba(46,56,68,1) 100%);
  background: -ms-linear-gradient(left, rgba(41,101,124,1) 0%, rgba(39,86,105,1) 46%, rgba(39,84,103,1) 51%, rgba(43,63,78,1) 88%, rgba(46,56,68,1) 100%);
  background: linear-gradient(to right, rgba(41,101,124,1) 0%, rgba(39,86,105,1) 46%, rgba(39,84,103,1) 51%, rgba(43,63,78,1) 88%, rgba(46,56,68,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29657c', endColorstr='#2e3844', GradientType=1 );
}

.nav-components {
    color:white;
}

.nav-brand .nav-logo {
    height: 50px;
    width: 50px;
    margin: 0 0 0 1rem;
    float:left;
    cursor: pointer;
}

.nav-brand .nav-logo:hover {
  opacity: .8;
}

.nav-brand {
  outline:none;
}
.mobile-menu.mat-button {
  color: white;
}
.nav-components .mat-button {
  margin-left: 15px;
  font-size: 1rem;
  font-weight: bold;
}

.fill-remaining-space{
    flex:1 1 auto;
}

.beta-flag{
  background-color: red;
  padding: 14px;
  border-bottom: solid 5px ghostwhite;
  color:white;
}

.navbar-search-wrapper{
  line-height: 20px;
  padding: 10px 0 0 15px;
  font-size: 14px;
  height: 100%;
}

.navbar-search-container{
  height:100%;
  z-index: 20;
}

button.mat-menu-item a{
  color:inherit !important;
  text-decoration: none;
  font-family: inherit;

}

.navbar-home {
  height: 65px;
}

@media (max-width: 767px){
  .mobile-menu.mat-button {
    padding:0 0 0 25px;
  }
  .nav-brand {
    margin: 15px 0 10px 0 !important;
  }
  .nav-brand .nav-title {
    font-size: 16px;
  }
  .navbar-home {
    height: 95px !important;
  }

  .navbar-search-wrapper{
    margin:0;
    width: 100%;
  }

  .ontoversion{
    margin:0;
  }
}

.ontoversion {
  color: white;
  font-size: 12px;
  font-style: italic;
}
