<mat-toolbar class="mat-elevation-z1 navbar">
  <div class="nav-brand" routerLink="/">
    <img src="assets/hpo-logo-white.png" class="nav-logo"/>
  </div>
  <!-- Main Desktop Navbar -->
  <div class="nav-components  hidden-xs hidden-sm hidden-md">
      <button mat-button [matMenuTriggerFor]="toolsMenu">Tools <mat-icon>arrow_drop_down</mat-icon></button>
      <button mat-button routerLink="downloads">Downloads</button>
      <button mat-button [matMenuTriggerFor]="helpMenu">Help <mat-icon>arrow_drop_down</mat-icon></button>
  </div>
  <!-- Tools Menu and SubMenus -->
  <mat-menu [overlapTrigger]="false" class="hpo-menus" #toolsMenu="matMenu">
    <button mat-menu-item routerLink="tools"> Overview </button>
    <button mat-menu-item routerLink="tools/clinical-annotation"> Clinical Annotation </button>
    <button mat-menu-item [matMenuTriggerFor]="genomicMenu">Genomic Tools</button>
    <button mat-menu-item [matMenuTriggerFor]="phenomicMenu">Phenomic Tools</button>
    <button mat-menu-item routerLink="tools/hpo-browser"> Other HPO Browsers </button>
    <button mat-menu-item routerLink="tools/workbench"> HPO Workbench </button>
    <button mat-menu-item routerLink="tools/external"> External Tools </button>
    <button mat-menu-item routerLink="tools/other"> Other Tools </button>
  </mat-menu>
  <mat-menu class="hpo-menus"  #genomicMenu="matMenu">
    <button mat-menu-item routerLink="tools/genomiser"> Genomiser: Analyze non-coding variants </button>
    <button mat-menu-item routerLink="tools/exomiser"> Exomiser: Prioritize variants from VCF </button>
  </mat-menu>
  <mat-menu class="hpo-menus"  #phenomicMenu="matMenu">
    <button mat-menu-item routerLink="tools/phenomizer"> Phenomizer: Clinical diagnostics </button>
    <button mat-menu-item routerLink="tools/phenogramviz"> PhenoGramViz: Evaluation of CNV's </button>
  </mat-menu>


  <!-- ---- -->
  <!-- Help Menu and SubMenus -->
  <mat-menu [overlapTrigger]="false" #helpMenu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="infoMenu">Information</button>

    <button mat-menu-item routerLink="help/clinician-guide"> Clinicians Guide </button>
    <button mat-menu-item [matMenuTriggerFor]="howtoMenu">How to..</button>
    <button mat-menu-item routerLink="help/layperson"> Layperson Synonyms </button>
    <button mat-menu-item routerLink="help/mapping"> Translations and Mapping </button>

    <button mat-menu-item routerLink="faq"> FAQ </button>
  </mat-menu>
  <mat-menu  #howtoMenu="matMenu">
    <button mat-menu-item routerLink="help/annotations"> Use Annotations </button>
    <button mat-menu-item routerLink="help/collaboration"> Contribute to HPO </button>
    <button mat-menu-item routerLink="citation"> Cite HPO </button>
    <button mat-menu-item routerLink="license"> License HPO </button>
  </mat-menu>
  <mat-menu  #infoMenu="matMenu">
    <button mat-menu-item routerLink="help/introduction"> Introduction </button>
    <button mat-menu-item routerLink="help/history"> History </button>
    <button mat-menu-item routerLink="contact"> Contact </button>
    <button mat-menu-item routerLink="help/contributors"> Contributors </button>
    <button mat-menu-item routerLink="help/users">  Users </button>
  </mat-menu>
  <!-- ------ -->
  <div class="fill-remaining-space">

  </div>
  <!-- Navigation Search Bar -->
  <div class="navbar-search-wrapper col-lg-4">
    <searchbar *ngIf="showSearch"></searchbar>
  </div>
  <!-- Beta Flag -->
  <div class="beta-flag">
    <strong>Beta</strong>
  </div>
  <!-- Mobile Navbar -->
  <button class="mobile-menu hidden-lg" color="white" mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="toolsMenu">Tools</button>
    <button mat-menu-item routerLink="downloads">Downloads</button>
    <button mat-menu-item [matMenuTriggerFor]="helpMenu">Help</button>
  </mat-menu>
</mat-toolbar>

