.navbar{
    background-color: #05396b;
}
.nav-components {
    margin-left:25px;
}

.nav-brand .nav-logo {
    height: 45px;
    width: 125px;
    margin: 0 0 0 15px;
    float:left;
    cursor: pointer;
}

.nav-brand .nav-logo {
  opacity: .8;
}

.nav-brand {
  outline:none;
}

@media (max-width: 768px){
    .mobile-menu.mat-button {
        padding:0 0 0 25px;
    }
    .nav-brand .nav-logo {
        margin-right:5px !important;
    }
    .nav-brand .nav-title {
        font-size: 16px;
    }

}
.fill-remaining-space{
    flex:1;
}
.beta-flag{
  background-color: red;
  padding: 14px;
  border-bottom: solid 5px ghostwhite;
}
