.discover-form {
  text-align: center;
}

.discover-search {
  width: 60%;
}

.remove-term-icon {
  cursor: pointer;
  height: 24px;
  width: 24px;
  float: right;

  &:hover {
    opacity: 0.75;
  }
}

.phenotype-list {
  text-transform: uppercase;
  background-color: rgba(39, 86, 105, 0.65);
  margin-bottom: .25rem;
}


.phenotype-list-item {
  width: 100%;
  color: white;
  font-weight: bold;
}

.submit-btn {
  color: white;
  margin-top: 25px;
  background-color: #0054a9;

  & .mat-button-wrapper {
    vertical-align: middle;
    font-weight: bold;
  }
}

.back-btn {
  margin-top: 1rem;
}

.query-chip {
  color: white;
  font-size: 12px;
  background-color: rgba(39, 86, 105, 0.65);
}


.not-found {
  text-align: center;
}

.tab-output-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.filter-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.filter-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
};

.tab-output-container {
  margin: 1rem 0 0 0;
  background-color: white;
}
