<div class="container">
  <div class="row">
    <div class="col-lg-12">
    <h1 class="center">HPO License and Citation Information</h1>
        <p>All of the following license restrictions apply to all files provided by the HPO project:</p>
        <ol>
          <li>
              The HPO vocabularies, annotation files, tools and documentation are freely available.
          </li>
          <li>
              The HPO is copyrighted to protect the integrity of the vocabularies, which means that changes to the HPO vocabularies need to be done by HPO developers. However, anyone can download the HPO and use the ontologies or other HPO files under three conditions:<br>
              <ul>
                <li>That the Human Phenotype Ontology Consortium is <strong>acknowledged</strong> and <strong>cited</strong> properly.</li>
                <li>
                    That any HPO Consortium file(s) displayed publicly <i>include the date(s) and/or version number(s)</i> of the relevant HPO file(s).
                </li>
                <li>
                    That neither the content of the HPO file(s) nor the logical relationships embedded within the HPO file(s) be altered in any way. (Content additions and modifications have to be suggested using our <a href="https://github.com/obophenotype/human-phenotype-ontology/issues" target="__blank">issue tracker</a>.)
                </li>
              </ul>
          </li>
          <li>
              We suggest that you follow standard scientific citation practice if you use the HPO in publications.
          </li>
          <li>Services and products have to display a short acknowledgement statement, that makes clear that the service/product is using HPO.</li>
        </ol>
        <h4>Reference</h4>
        <p>When using or mentioning HPO, please cite:</p>
        <p><a href="https://www.ncbi.nlm.nih.gov/pubmed/27899602" target="__blank">K&ouml;hler S et al. (2017) The
        Human Phenotype Ontology in 2017. <i>Nucleic Acids Res</i> <b>45(D1)</b>:D865-D876</a>. </p>
        <h5>Citation for products/services</h5>
        <p>This service/product is using the Human Phenotype Ontology (version information). Find out more at http://www.human-phenotype-ontology.org</p>

    </div>
  </div>
</div>
