<h4 mat-dialog-title>{{data.id}}</h4>
<div class="flex flex-row flex-wrap justify-center items-center" mat-dialog-content>
  <p class="w-full">Which association would you like to download?</p>
  <div class="w-1/2">
    <button class="dialog-selection" [disabled]="data.counts.diseases === 0"
            mat-raised-button [mat-dialog-close]="EntityType[this.data.supported_download[0]]">{{supported.first}}</button>
  </div>
  <div class="w-1/2">
    <button class="dialog-selection" [disabled]="data.counts.genes === 0"
            mat-raised-button [mat-dialog-close]="EntityType[this.data.supported_download[1]]">{{supported.second}}</button>
  </div>
</div>
