<div class="container">
    <div class="page-header">
        <div class="page-title">{{pageTitle}}</div>
        <div class="hr"></div>
        <div class="page-intro">{{pageIntro}}</div>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <p>Please do not hesitate to contact us if you have any further questions:<p>
      <ul>
        <li>
            <a href="http://drseb.github.io/" target="__blank">Sebastian Köhler</a> (dr.sebastian.koehler@gmail.com)
        </li>
        <li>
            <a href="https://www.jax.org/research-and-faculty/faculty/peter-robinson" target="__blank"> Peter Robinson</a> (peter.robinson@jax.org)
        </li>
      </ul>
    </div>
  </div>
</div>