<div class="container faq flex flex-col flex-wrap">
  <h1 class="center pageTitle">Frequently Asked Questions</h1>
  <br>
  <div class="center">
    <a mat-button href="https://github.com/TheJacksonLaboratory/hpo-web/issues/new" target="__blank" class="faq-btn danger">Request
      a Feature or Report a Bug</a>

  </div>
  <br>
  <div class="center">
    <a mat-button href="https://obophenotype.github.io/human-phenotype-ontology/clinicians/FAQs/" target="__blank" class="faq-btn normal">Ontology FAQ</a>
  </div>
  <div class="center mt-2">
      <h3>This page is under construction and being reviewed.</h3>
  </div>
</div>
