<div class="container faq flex flex-col flex-wrap">
  <h1 class="center pageTitle">Frequently Asked Questions</h1>
  <br>
  <div class="center">
    <a mat-button href="https://github.com/TheJacksonLaboratory/hpo-web/issues/new" target="__blank" class="faq-btn danger">Request
      a Feature or Report a Bug</a>

  </div>
  <br>
  <div class="center">
    <a mat-button href="https://obophenotype.github.io/human-phenotype-ontology/documentation/FAQs/" target="__blank" class="faq-btn normal">Ontology FAQ</a>
  </div>
  <div class="center mt-2">
      <h3>This page is under construction. Please check back later.</h3>
  </div>
  <div class="faq-container flex flex-row flex-wrap">
    <div class="w-full sm:w-1/2 sm:ml-[25%]">

      <!-- <mat-accordion>
        <mat-expansion-panel [expanded]="openPanel === 1" id="hpo-relation">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <strong>What are the different ways to work with HPO data?</strong>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            The HPO comes in native formats such as OWL and OBO, and can also be accessed via REST APIs for JSON. To use any of these formats we 
          </p>
        </mat-expansion-panel>
      </mat-accordion> -->
    </div>
  </div>
</div>
