<div class="container">
    <div class="thing-header">
      <span [hidden]="!isLoading">
          <mat-progress-bar  class="loading-result-details" color="primary" mode="buffer">
          </mat-progress-bar>
      </span>
      <div class="thing-title">({{disease.diseaseId}}){{disease.diseaseName}}</div>
    </div>
</div>
  <div [hidden]="isLoading" class="row">
    <div class="container container-custom">
      <div class="row">
        <div class="col-lg-3">
          <mat-card class="thing-summary">
              <mat-card-content>
                <p>Disease ID:&nbsp;{{disease.diseaseId}}</p>
                <p>Disease Name:&nbsp;{{disease.diseaseName}}</p>
              </mat-card-content>
          </mat-card>
        </div>
        <div class="col-lg-9">
          <mat-tab-group class="gene-tabs">
              <mat-tab label="Associations">
                <div class="tab-content">
                    <div class="associations term-association mat-elevation-z6">
                      <h4 class="title">Term Associations</h4>
                      <mat-table #table [dataSource]="termSource" matSort>
                        <mat-header-row *matHeaderRowDef="termColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: termColumns;"></mat-row>
                        <ng-container matColumnDef="ontologyId">
                          <mat-header-cell *matHeaderCellDef> Term Identifier </mat-header-cell>
                          <mat-cell *matCellDef="let row">
                            <a routerLink="/browser/term/{{row.ontologyId}}">{{row.ontologyId}}</a>
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef>Term Name </mat-header-cell>
                            <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
                        </ng-container>
                      </mat-table>
                    </div>
                    <div class="associations gene-association mat-elevation-z6">
                        <h4 class="title">Gene Associations</h4>
                        <mat-table #table [dataSource]="geneSource" matSort>
                          <mat-header-row *matHeaderRowDef="geneColumns"></mat-header-row>
                          <mat-row *matRowDef="let row; columns: geneColumns;"></mat-row>
                          <ng-container matColumnDef="entrezGeneId">
                            <mat-header-cell *matHeaderCellDef>Gene Identifier </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                              <a routerLink="/browser/gene/{{row.entrezGeneId}}">{{row.entrezGeneId}}</a>
                            </mat-cell>
                          </ng-container>
                          <ng-container matColumnDef="entrezGeneSymbol">
                              <mat-header-cell *matHeaderCellDef>Gene Symbol</mat-header-cell>
                              <mat-cell *matCellDef="let row">{{row.entrezGeneSymbol}}</mat-cell>
                          </ng-container>
                        </mat-table>
                    </div>
                  </div>
              </mat-tab>
               <mat-tab label="Gene Map">
                  <div class="tab-content">
                    </div>
              </mat-tab>
            <mat-tab label="Gene in Text">
              <div class="tab-content">
              </div>
            </mat-tab>
            </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
