.up_pftv_buttons {
  display: none !important;
}

.ProtVistaContainer {
  margin: 30px 0 0 0;
  display: inline-block;
  padding-left: 15px;
}

.up_pftv_container {
  display: inline-block;
  margin: 0 0 0 25px;
}

.up_pftv_aaviewer {
  margin: 0 0 0 195px;
}

.gene-component .loading-protvista {
  margin: 30px 10px 30px 10px;
  width: 99%;
}

.tab-output-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.filter-header {
  min-height: 64px;
  padding: 8px 24px 0;
}
