.up_pftv_buttons {
  display: none !important;
}

.up_pftv_container {
  display: inline-block;
  margin: 0 0 0 25px;
}

.up_pftv_aaviewer {
  margin: 0 0 0 195px;
}

.tab-output-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.filter-header {
  min-height: 64px;
  padding: 8px 24px 0;
}
