<div class="container phenopacket">
  <h1 class="center pageTitle">Global Alliance for Genomic Health Phenopacket</h1>

  <p>The Monarch Initiative, the consortium that includes the HPO team, has led the development of the
    the <a target="__blank" href="https://phenopacket-schema.readthedocs.io/en/latest/">Phenopacket Schema</a>
    for the <a target="__blank" href="https://www.ga4gh.org/">Global Alliance for Genomics and Health (GA4GH)</a>.
    The Phenopacket Schema was approved by the GA4GH in 2022 and additional certified by the International Standards
    Organization (ISO) as <a href="https://www.iso.org/standard/79991.html"  target="__blank">ISO 4454:2022
      Genomics informatics — Phenopackets: A format for phenotypic data exchange</a>.</p>

  <p>More information is available in <a href="https://pubmed.ncbi.nlm.nih.gov/35705716/"  target="__blank">Jacobsen JOB, et al. The GA4GH Phenopacket schema defines a computable representation of clinical data. Nat Biotechnol. 2022 Jun;40(6):817-820.</a>.

  <p>A Phenopacket characterizes an individual person or biosample, linking that individual to detailed phenotypic descriptions, genetic information, diagnoses, and treatments. The Phenopacket schema supports the FAIR principles (findable, accessible, interoperable, and reusable), and computability. Specifically, Phenopackets are designed to be both human and machine-interpretable, enabling computing operations and validation on the basis of defined relationships between diagnoses, lab measurements, and genotypic information.</p>

  <p>The Phenopacket schema enables comparison of sets of phenotypic attributes from individual patients. Such comparisons can aid in diagnosis and facilitate patient classification and stratification for identifying new diseases and treatments. The Phenopacket schema is designed to support interoperability between people, organizations, and systems that comprise the worldwide effort to understand human disease. The structure of the information in a phenopacket was designed for integration within clinical laboratories, journals, data repositories, patient registries, electronic health records (EHRs), and knowledge bases. Increasing the volume of computable data across a diversity of systems will support global disease analysis by integrating genotype, phenotype, and other multi-modal data for precision health applications.</p>
    <figure class="phenopacket-figure">
      <img alt="GA4GH Phenopacket" src="https://onlinelibrary.wiley.com/cms/asset/1cc0a141-da65-45a3-b7b0-6316b7b02069/ggn2202200016-fig-0002-m.jpg"/>
      <figcaption class="phenopacket-figure-caption">Phenopacket Schema overview. The GA4GH Phenopacket Schema is a hierarchical structure that consists of two required fields, ID and MetaData, as well as eight optional fields, Individual, Disease, Interpretation, Biosample, PhenotypicFeature, Measurement, MedicalAction, and files.</figcaption>
    </figure>
  <p>
    The Phenopacket provides a standardized way of reporting HPO terms and providing additional context. A detailed introduction in how to represent clinical data as a phenopacket is provided in <a target="__blank" href="https://onlinelibrary.wiley.com/doi/full/10.1002/ggn2.202200016">Ladewig et al., GA4GH Phenopackets: A Practical Introduction, Advanced Genetics 2022</a>.
  </p>
</div>

