<div class="term-component">
  <div class="container-custom">
    <div class="row">
        <!-- Term navigtaion tree - left pane-->
        <div class="col-lg-4 tree-container">
          <mat-card class="tree-navigation">
            <mat-card-content>
              <div>
                <h4 class="no-descendants">No. Descendants</h4>
                <h3 class="card-title">Hierarchy</h3>
                <span matTooltip="Neighborhood View of HPO Hierarchy" matTooltipPosition="left" class="info-badge">
                  <i class="material-icons">help_outline</i>
                </span>
              </div>
              <hr class="underline-hr">
                    <ul class="tree" *ngIf="treeData">
                      <li *ngFor="let parent of treeData.parents">
                        <span class="tree-counts" [ngStyle]="{'margin-left': '-100px', 'margin-right': '5px'}"
                              matTooltip="{{parent.childrenCount}}" *ngIf="parent.childrenCount != 0"
                              matTooltipPosition="above"> </span>
                        <a class="link"  routerLink="../{{parent.ontologyId}}" >{{parent.name}}</a>
                      </li>
                      <li>
                        <div class="term">
                          <span class="tree-counts" [ngStyle]="{'margin-left': '-115px'}"
                                *ngIf="treeData.termCount != 0" matTooltip="{{treeData.termCount}}" matTooltipPosition="above"> </span>
                          <strong>{{term.name}}</strong>
                        </div>
                        <ul>
                          <li *ngFor="let child of treeData.children" class="children">
                            <span class="tree-counts" [ngStyle]="setTreeStyles(child)" *ngIf="child.childrenCount != 0"
                                  matTooltip="{{child.childrenCount}}" matTooltipPosition="above"> </span>
                            <a class="link" routerLink="../{{child.ontologyId}}">{{child.name}}</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
            </mat-card-content>
          </mat-card>
        </div>

       <!-- right pane -->
        <div class="col-lg-8">
            <!-- Term summary -->
            <mat-card class="item-summary">
              <mat-card-content>
                <div *ngIf="!treeData">
                  <mat-progress-bar class="loading-result-details" color="primary" mode="buffer">
                  </mat-progress-bar>
                </div>
                <div *ngIf="treeData">
                  <div>
                    <span class="item-title">{{termTitle}}&nbsp;</span>
                    <span class="item-id" *ngIf="paramId != term.id">
                      <span class="crossout">{{paramId}}
                      </span><i class="material-icons obsolete-arrow">arrow_right_alt</i>
                    </span>
                    <span class="item-id">{{term.id}}</span>
                    <i matTooltip="Copy purl to clipboard!" matTooltipPosition="above"
                       (click)="copyToClipboard(term.purl)" class="material-icons copyToClipboard">content_copy</i>
                  </div>

                  <hr class="underline-hr">
                  <p><br><i>{{term.definition}}</i></p>
                  <mat-list>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                      <strong>Synonyms:</strong> &nbsp;&nbsp; <i *ngFor="let item of term.synonyms; let isLast=last">{{item}}{{isLast ? '' : ', '}}</i>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item *ngIf="term.comment">
                      <strong>Comment:</strong> &nbsp;&nbsp; {{term.comment}}
                      </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item *ngIf="term.xrefs.length > 0">
                      <strong>Xrefs:</strong> &nbsp;&nbsp;
                      <i *ngFor="let item of term.xrefs; let isLast=last">{{item}}{{isLast ? '' : ', '}}</i>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                  </mat-list>
                  <button class="mat-btn mat-raised-button download-associations"
                          [disabled]="this.diseaseAssocCount == 0 && this.geneAssocCount == 0"
                          (click)="downloadDialog()">Export Associations</button>
                </div>
              </mat-card-content>
            </mat-card>

            <!-- TABS -->
          <div class="hpo-group-tab">
            <mat-tab-group selectedIndex="0" class="term-details-tab-group mat-elevation-z6">
              <!-- Disease association -->
              <mat-tab label="Disease Associations">
                <div [hidden]="diseaseAssocCount == 0">
                      <mat-progress-bar  *ngIf="assocLoading" class="loading-result-details" color="primary" mode="buffer">
                      </mat-progress-bar>
                      <div class="tab-output-container">

                            <!-- filter. Display when all results are loaded -->
                            <div class="filter-container">
                              <div id="diseaseFilter" *ngIf="displayAllDiseaseAssc" class="filter-header">
                                <mat-form-field>
                                  <input id="diseaseFilterInput" matInput (keyup)="applyDiseaseFilter($event.target.value)" placeholder="Filter by disease">
                                </mat-form-field>
                              </div>
                            </div>

                            <div [hidden]="assocLoading"class="associations disease-association">
                              <mat-table [dataSource]="diseaseSource">
                                <mat-header-row *matHeaderRowDef="diseaseColumns;"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: diseaseColumns;"></mat-row>
                                <ng-container matColumnDef="diseaseId">
                                  <mat-header-cell *matHeaderCellDef> Disease Id </mat-header-cell>
                                  <mat-cell *matCellDef="let row">
                                    <a routerLink="/browse/disease/{{row.diseaseId}}">{{row.diseaseId}}</a>
                                  </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="diseaseName">
                                    <mat-header-cell *matHeaderCellDef>Disease Name </mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row.diseaseName}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="dbGenes">
                                    <mat-header-cell *matHeaderCellDef>Associated Genes</mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                      <span *ngFor="let gene of row.dbGenes">
                                        {{gene.entrezGeneSymbol}}
                                        <a routerLink="/browse/gene/{{gene.entrezGeneId}}">[{{gene.entrezGeneId}}]</a><br>
                                      </span>
                                    </mat-cell>
                                </ng-container>
                              </mat-table>

                              <div [hidden]="!displayAllDiseaseAssc">
                                <mat-paginator  #diseasePaginator [pageSizeOptions]="[50, 100, 500]"></mat-paginator>
                              </div>

                              <!-- paging: associations subset count -->
                              <div id="assocDiseasePagingSubset" *ngIf="!assocLoading && !displayAllDiseaseAssc" class="associationsPaging">
                                <p>Displaying {{diseaseDisplayCount}} out of {{diseaseAssocCount}}.
                                  <a *ngIf="diseaseDisplayCount != diseaseAssocCount"
                                     (click)="showAllDiseases($event)">View all
                                  </a>
                                </p>
                              </div>
                            </div>
                      </div>
                </div>
                <div class="container center" [hidden]="diseaseAssocCount != 0">
                  <h4>No disease associations found for <strong>{{term.id}}</strong></h4>
                </div>
              </mat-tab>

              <!-- Gene Association -->
              <mat-tab label="Gene Associations">
                <div [hidden]="geneAssocCount == 0">
                    <mat-progress-bar  *ngIf="assocLoading" class="loading-result-details" color="primary" mode="buffer">
                    </mat-progress-bar>

                    <div class="tab-output-container">
                      <div class="filter-container">
                        <!-- filter. Display when all results are loaded -->
                        <div id="geneFilter" *ngIf="displayAllGeneAssc" class="filter-header">
                          <mat-form-field>
                            <input id="geneFilterInput" matInput (keyup)="applyGeneFilter($event.target.value)" placeholder="Filter by gene">
                          </mat-form-field>
                        </div>
                      </div>

                      <div [hidden]="assocLoading" class="associations gene-association">
                        <mat-table [dataSource]="geneSource">
                          <mat-header-row *matHeaderRowDef="geneColumns"></mat-header-row>
                          <mat-row *matRowDef="let row; columns: geneColumns;"></mat-row>
                          <ng-container matColumnDef="entrezGeneId">
                            <mat-header-cell *matHeaderCellDef> Gene Symbol </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                              {{row.entrezGeneSymbol}}&nbsp;
                              <a routerLink="/browse/gene/{{row.entrezGeneId}}">[{{row.entrezGeneId}}]</a>
                            </mat-cell>
                          </ng-container>
                          <ng-container matColumnDef="dbDiseases">
                            <mat-header-cell *matHeaderCellDef> Associated Diseases </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                              <span *ngFor="let disease of row.dbDiseases">
                                  <a routerLink="/browse/disease/{{disease.diseaseId}}">({{disease.diseaseId}})</a> -
                                  {{disease.diseaseName}}<br>
                              </span>
                            </mat-cell>
                          </ng-container>
                        </mat-table>

                        <div [hidden]="!displayAllGeneAssc">
                          <mat-paginator  #genePaginator [pageSizeOptions]="[50, 100, 500]"></mat-paginator>
                        </div>

                        <!-- paging: associations subset count -->
                        <div id="assocGenePagingSubset" *ngIf="!assocLoading && !displayAllGeneAssc" class="associationsPaging">
                          <p>Displaying {{geneDisplayCount}} out of {{geneAssocCount}}.
                            <a *ngIf="geneDisplayCount != geneAssocCount"
                               (click)="showAllGenes($event)">View all
                            </a>
                          </p>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="container center" [hidden]="geneAssocCount != 0">
                  <h4>No gene associations found for <strong>{{term.id}}</strong></h4>
                </div>
              </mat-tab>

              <!-- Loinc Association -->
              <div *ngIf="loincDisplayCount != 0">
                <mat-tab label="LOINC Associations">
                  <div [hidden]="loincDisplayCount == 0">
                    <mat-progress-bar  *ngIf="assocLoading" class="loading-result-details" color="primary" mode="buffer">
                    </mat-progress-bar>
                    <div class="tab-output-container">
                      <div [hidden]="assocLoading" class="associations loinc-association">
                        <mat-table [dataSource]="loincSource">
                          <mat-header-row *matHeaderRowDef="loincColumns"></mat-header-row>
                          <mat-row *matRowDef="let row; columns: loincColumns;"></mat-row>
                          <ng-container matColumnDef="id">
                            <mat-header-cell *matHeaderCellDef> LOINC Code </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                              <a href="http://loinc.org/{{row.id}}" target="__blank">{{row.id}}</a>
                            </mat-cell>
                          </ng-container>
                          <ng-container matColumnDef="longName">
                            <mat-header-cell *matHeaderCellDef> LOINC Name </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                              {{row.longName}}
                            </mat-cell>
                          </ng-container>
                        </mat-table>
                        <!-- paging: associations subset count -->
                        <div *ngIf="!assocLoading" class="associationsPaging">
                          <p>Displaying {{loincDisplayCount}} LOINC associations.</p>
                        </div>
                        <div *ngIf="!assocLoading" class="loinc-license">
                          <sup>**</sup>This material contains content from LOINC® (
                          <a href="http://loinc.org" target="__blank">http://loinc.org</a>). The LOINC Table, LOINC Table
                          Core, LOINC Panels and Forms File, LOINC Answer File, LOINC Part File, LOINC Group File, LOINC
                          Document Ontology File, LOINC Hierarchies, LOINC Linguistic Variants File, LOINC/RSNA Radiology
                          Playbook, and LOINC/IEEE Medical Device Code Mapping Table are copyright © 1995-2018,
                          Regenstrief Institute, Inc. and the Logical Observation Identifiers Names and Codes (LOINC)
                          Committee and is available at no cost under the license at
                          <a href="http://loinc.org/license" target="__blank">http://loinc.org/license</a>.
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--<div class="container center" [hidden]="loincDisplayCount != 0">
                    <h4>No LOINC associations found for <strong>{{term.id}}</strong></h4>
                  </div>-->
                </mat-tab>
              </div>
            </mat-tab-group>
          </div>
        </div>
    </div>
  </div>
</div>
