<div class="container">
  <div class="row">
    <div class="col-lg-6 searchbar">
          <mat-icon class="search-icon">search</mat-icon>
          <mat-form-field class="example-full-width">
              <input matInput placeholder="Search Human Phenotype Ontology" [(ngModel)]=query (keyup)="filter()">
              <mat-hint align="end"><strong>( i.e. ) HP:00142 | Abornmality of Weight | Bladder Cancer</strong> </mat-hint>
          </mat-form-field>
          <!--<input class="search-bar col-lg-12" type="text" placeholder='Search Phenotypes' [(ngModel)]=query (keyup)="filter()"/>-->
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <mat-progress-bar *ngIf="isLoading" class="loading-result" color="accent" mode="indeterminate">
      </mat-progress-bar>
      <div *ngIf="terms && terms.length > 0" class="result-card term-result col-lg-{{bootCols}} col-sm-12">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Terms<hr></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <span routerLink="/browser/term/{{item.ontologyId}}" class="result-list"
                  *ngFor="let item of terms;"
                  [innerHtml]="{id:item.ontologyId, name: item.name, count: item.childrenCount} | highlight: query">
                <!--<span matTooltip="# of Descendants" matTooltipPosition="left"  *ngIf="item.childrenCount != 0" class="badge search-badge">{{item.childrenCount}}</span>-->
            </span>
          </mat-card-content>
        </mat-card>
      </div>
      <div *ngIf="diseases && diseases.length > 0" class="result-card disease-result col-lg-{{bootCols}} col-sm-12">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Diseases<hr></mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <span routerLink="/browser/disease/{{item.diseaseId}}" class="result-list"
                    *ngFor="let item of diseases;"
                    [innerHtml]="{id:item.dbRef, name: item.dbName} | highlight: query">
              </span>
            </mat-card-content>
          </mat-card>
        </div>
        <div *ngIf="genes && genes.length > 0" class="result-card gene-result col-lg-{{bootCols}} col-sm-12">
            <mat-card>
              <mat-card-header>
                <mat-card-title>Genes<hr></mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <span  routerLink="/browser/gene/{{item.entrezGeneId}}" *ngFor="let item of genes; "
                  class="result-list" [innerHtml]="{id:item.entrezGeneId, name: item.entrezGeneSymbol} | highlight: query">
              </span>
              </mat-card-content>
            </mat-card>
        </div>
    </div>
  </div>
</div>

