
::ng-deep .searchbar .mat-form-field {
  width:75%;
  display:block;
  float:left;
}
::ng-deep .searchbar .mat-input-placeholder {
  padding: 1px;
}
::ng-deep .searchbar .mat-input-element {
  height:0%;
  font-size:16px;
}
.search-icon {
  margin: 20px 10px 0 0;
  float:left;
}
.search-results{
  margin-top:10px;
}
::ng-deep .result-card .mat-card-header .mat-card-header-text{
  margin:0px;
}
.result-card .mat-card-header .mat-card-title {
  font-size: 1em !important;
  font-weight: bold;
}
.result-card {
  margin-top:25px;
}
.result-list {
  cursor: pointer;
}
