.phenopacket {
  & .phenopacket-figure {
    margin: 0 auto;
    text-align: center;

    & .phenopacket-figure-caption {
      margin: inherit;
      text-align: left;
      width: 600px
    }

    & img {
      width: 600px;
    }
  }

  @media screen and (max-width: 640px) {
    .phenopacket-figure {
      display: none;
    }
  }
}
