table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}
.no-indent-list{
    -webkit-padding-start: 10px;
}
.mat-expansion-panel{
    margin-bottom:5px;
}
.mat-expansion-panel-header-description {
    flex-grow: 0;
}