.news-title{
  font-size: 20px;
  font-weight: 800;
}

.news-date{
  font-size: 14px;
  font-style: italic;
  font-weight:normal;
  float:right;
}
.news-timeline h4{
  margin: 10px 0;
}

.news-section{
  padding: 15px;
  margin-bottom: 25px;
}

.news-timeline .news-dates {
  border-right: solid 1px lightgray;
  line-height: 30px;
}
.news-timeline .news-dates p {
  cursor: pointer;
}

.news-timeline .active {
  font-weight: bold;
}

.hr{
  width: fit-content !important;
}


.hpo-sidenav-container {
  min-height: 60%;
}

.news.container {
  height: 100%;
}

.toggler {
  vertical-align: middle;
}

.toggler:hover {
  cursor: pointer;
  opacity: 0.8;
}


.by-month-wrapper {
  text-align: center;
  margin-bottom: 5px;
}
