<div class="news container">
  <h1 class="center">News & Updates</h1>
  <div class="by-month-wrapper">
    <button class="toggler" mat-stroked-button color="primary" (click)="sidenav.toggle()">Select Month</button>
  </div>

  <mat-sidenav-container class="hpo-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <mat-list-item *ngFor="let date of dates" [ngClass]="{'active': currentSelected == date}" (click)="setCurrentDate(date)">
          <div class="news-dates">
            {{date}}
          </div>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="news-section mat-elevation-z4" *ngFor="let news of content">
        <div class="news-title">
          <span class="hr">{{news.title}}</span> <span class="news-date">{{news.date}}</span><br>
        </div>
        <br>
        <div class="news-body" [innerHtml]="news.body">
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <div *ngIf="error" class="center">
    <h3>Sorry something went wrong. Please try again, if this error continues <a routerLink="/contact">contact</a> the developers.</h3>
  </div>
</div>
