<div class="search-wrapper">
  <mat-select class="search-filter" placeholder="All" [(value)]="navFilter">
    <mat-option value="all">All</mat-option>
    <mat-option value="term">Term</mat-option>
    <mat-option value="disease">Disease</mat-option>
    <mat-option value="gene">Gene</mat-option>
  </mat-select>
  <input class="searchbar" matInput #search placeholder="Search for phenotypes, diseases, genes.." [value]="query"
         (input)="suggestContent(search.value)">
  <p class="hint">
    <strong>( i.e. ) <a (click)="setQuery('Abnormality of the bladder')">Abnormality of the bladder</a> |
      <a (click)="setQuery('Bladder Cancer')">Bladder Cancer</a> |
      <a (click)="setQuery('TP53')">TP53</a></strong>
  </p>
  <div class="search-spacer">
  </div>
  <div class="search-output mat-elevation-z4" [@searchState]="searchstate">
    <div class="term-result" *ngIf="(navFilter == 'term' || navFilter == 'all') && terms.length > 0 ">
          <span  class="result-title">
            Terms
          </span>
      <br>
      <div class="result-list">
            <span class="result" routerLink="/browse/term/{{item.ontologyId}}" *ngFor="let item of terms;" >
              <span class="id">{{item.ontologyId}}</span>
              <span class="name" [innerHtml]="{name: item.name } | highlight: query"></span><br>
            </span>
      </div>
      <br>
    </div>

    <div class="disease-result" *ngIf="(navFilter == 'disease' || navFilter == 'all') && diseases.length > 0">
          <span  class="result-title">
            Diseases
          </span>
      <div class="result-list">
            <span class="result" routerLink="/browse/disease/{{item.diseaseId}}" *ngFor="let item of diseases;" >
              <span class="id">{{item.db}}</span>
              <span class="name" [innerHtml]="{name: item.dbName } | highlight: query"></span><br>
            </span>
      </div>
      <br>
    </div>

    <div class="gene-result" *ngIf="(navFilter == 'gene' || navFilter == 'all') && genes.length > 0">
          <span  class="result-title">
            Genes
          </span>
      <div class="result-list">
            <span class="result" routerLink="/browse/gene/{{item.entrezGeneId}}" *ngFor="let item of genes;" >
              <span class="id">{{item.entrezGeneId}}</span>
              <span class="name" [innerHtml]="{name: item.entrezGeneSymbol } | highlight: query"></span><br>
            </span>
      </div>
      <br>
    </div>
  </div>
</div>
