.search {
    margin-top: 10px;
    min-height: 50px;
    height: auto;
    /**background-color: #A2AAAD;**/
    background-color: #0085CA;
}
.search-bar {
    position: relative;
    outline: none;
    box-shadow: none;
    padding: 0;
    width: 100%;
    max-width: 100%;
    background: transparent;
    border: none;
    -webkit-appearance: none;
    min-width: 0;
    height: 50px;
    text-indent: 15px;
    font-size: 18px;
    color: white;
}

.search-results {
    background: #0085CA;
    box-shadow: 0px -2px 3px white;
    overflow-x: visible;
    overflow-y: hidden;
    min-width: 500px;
}
.result-row {
  font-size:15px;
  text-indent:5px;
  border-bottom: solid 1px gainsboro;
}
.result-row:hover{
  background-color:#D0D3D4;
  cursor:pointer;

}
.term-results{
  background:#ffffff;
  margin: 10px;
  border-radius: 2px;
  box-shadow: 1px 1px 1px 1px #D0D3D4;
}
.disease-results{
  background:#ffffff;
  margin: 10px;
  border-radius: 2px;
  box-shadow: 1px 1px 1px 1px #D0D3D4;
}

.search-section-title {
  color: white;
  font-weight: bold;
  margin: 15px 0px 0px 10px;
}

.search-bar::-webkit-input-placeholder { /* Chrome */
  color: white;
}
.search-bar:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
.search-bar::-moz-placeholder { /* Firefox 19+ */
  color: white;
  opacity: 1;
}
.search-bar:-moz-placeholder { /* Firefox 4 - 18 */
  color: white;
  opacity: 1;
}