
<div class="col-lg-3">
  <div class="search">
    <input class="search-bar col-lg-12" type="text" placeholder="Search Ontology" [(ngModel)]=query (keyup)=filter()/> 
  </div>
  <div class="search-results" *ngIf="filteredList && filteredList.length > 0">
    <h5 class="search-section-title">Phenotype Results</h5>
    <div class="term-results">
      <div  *ngFor="let item of filteredList; let isOdd=odd; let isEven=even"
      class="result-row" [class.odd]="odd-result" [class.even]="even-result" (click)="select(item)">
          (HPO) {{item.id}} {{item.phenotype}}
      </div>
    </div>
  </div>
</div>
