/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  line-height: 1;
  font-size: 14px;
}

* {
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
}

button, input, optgroup, select, textarea {
  line-height: inherit;
  font: inherit;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

img {
  border: 0;
  vertical-align: middle;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

a {
  text-decoration: none;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

li, p, a {
  word-wrap: break-word
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

a:hover {
  color: #551A8B !important;
  text-decoration: underline;
}

.hr {
  border-bottom: 1px solid rgba(208, 211, 212, .8);
  width: 250px;
  margin: 5px 0 10px 0;
}

p {
  font-size: 14px;
}

strong {
  font-weight: 800;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

.center {
  text-align: center;
}

.small-icon {
  font-size: 10px;
}

.medium-icon {
  font-size:  14px;
}

.crossout {
  text-decoration: line-through;
}

.static-images {
  width: 650px;
  max-width: 100%;
  height: auto;
}

.mat-mdc-menu-item {
  font-size: 14px !important;
}

a.mat-btn .mdc-button__label {
  color: white;
  font-weight: bold;
}

.container {
  padding: 1.5rem;
  margin: 0 auto
}

@media screen and (max-width: 767px) {
  .container {
    padding: 1.5rem;
  }
}

.container-custom {
  margin: 0;
  padding: 0 15px;
}

.container-custom .row {
  margin: 0;
}

.mat-mdc-drawer {
  z-index: 4;
}

.mat-drawer-content {
  min-height: 100%;
  display: flex !important;
  flex-direction: column;
}

.mat-mdc-raised-button {
  border-radius: 0 !important;
}

/* HomePage Search */
.home-search .search-container .search-wrapper {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.home-search .search-container .searchbar {
  font-size: 16px;
  margin: 0;
  padding: 15px;
}

.home-search .search-container .search-filter {
  padding: 15px;
}

.info-section {
  .mdc-list-item__content{
    display: flex;
    align-items: center;
    width: 100%;
  }
  .mat-mdc-list-item {
    height: 24px;
    padding-left: 0;
  }

  .mat-mdc-list-item-unscoped-content {
    display: flex;
    width: 100%;
  }
}
.info-body.teaser .mat-mdc-list-item-content {
  padding: 0 !important;
}

.quick-links-card .mat-icon {
  margin-left: auto;
}

/* Navbar Global Styles */
.navbar-search-wrapper .search-wrapper .search-filter {
  padding: 15px;
}

.navbar-search-wrapper .search-wrapper .search-output {
  top: 0 !important;
}

.navbar-search-wrapper .search-wrapper .hint {
  display: none;
}

@media (max-width: 991px) {
  .navbar-search-wrapper {
    width: 70%;
  }
}

@media (min-width: 1200px) {
  .navbar-search-wrapper {
    width: 30%;
  }
}

.mat-mdcmenu-panel {
  max-width: 380px !important;
  border-radius: 0 !important;
}

.navbar-search-wrapper .search-output h3 {
  font-size: 14px;
}

@media (max-width: 767px) {

  .mat-mdctoolbar-single-row {
    height: auto !important;
    flex-wrap: wrap;
  }
}

/* Term, Gene, Disease Page Elements */

.pageTitle {
  border-bottom: lightgray solid 1px;
  padding-bottom: 10px;
  margin: 0 auto 1rem auto;
}

@media (max-width: 767px) {
  .pageTitle {
    font-size: 1.6em;
  }
}

.item-title {
  font-size: 24px;
  text-align: center;
  text-shadow: 1px 1px #D0D3D4;
}

.item-id {
  font-size: 14px;
  color: darkslategray !important;

  & .mat-mdcicon {
    font-size: 16px;
    padding-top: 0.25rem;
  }
}

.item-summary {
  width: 100%;
  margin-bottom: 10px;
}

.item-summary .mat-mdc-list-item-content {
  font-size: 14px;
  padding: 5px !important;
  display: block !important;
}

.item-summary .mat-mdc-list-item {
  height: auto !important;
}

.item-header {
  margin-top: -10px;
  margin-bottom: 10px;
}

.item-summary .mat-mdc-card-content .associations h4 {
  float: left;
}

hr.underline-hr {
  margin: 0;
  height: 1px;
}

.associations {
  margin: 0 0 15px 0;
}

/* mat-mdcTab-group colors across multiple pages */

.hpo-group-tab .mat-mdc-table {
  overflow: auto;
  max-height: 500px;
}

.hpo-group-tab .mat-mdc-header-row {
  background-color: rgb(78, 139, 162);
}

.hpo-group-tab .mat-mdc-header-row .mat-mdc-header-cell {
  color: white;
}

.hpo-group-tab .associations .mat-mdc-mdc-table {
  max-height: 346px;
}

.hpo-group-tab .mat-mdc-tab-label {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  font-size: 16px;
}

.hpo-group-tab .mat-mdc-tab-header {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 5px solid rgba(41, 101, 124, 1)
}

.hpo-group-tab .mat-mdc-tab-body-wrapper {
  border-right: 5px solid rgba(41, 101, 124, 1);
  border-bottom: 5px solid rgba(41, 101, 124, 1);
  border-left: 5px solid rgba(41, 101, 124, 1);
}

.hpo-group-tab .mat-mdc-tab-group.mat-mdc-primary .mat-mdc-ink-bar {
  display: none !important;
}

.hpo-group-tab .mat-mdc-tab-group.mat-mdc-primary .mat-mdc-tab-label:not(.mat-mdc-tab-disabled):focus {
  background-color: rgba(41, 101, 124, 1);
}

.hpo-group-tab .mat-mdc-tab-label-active {
  background-color: rgba(41, 101, 124, 1);
  font-weight: 900;
  opacity: 1;
  color: white;
}

.hpo-group-tab .mat-mdc-header-cell {
  font-size: 14px;
}

.hpo-group-tab .mat-mdc-paginator {
  font-size: 14px;
}


.hpo-group-tab .filter-container .filter-header {
  background-color: rgb(78, 139, 162);
}

.hpo-group-tab .filter-container .filter-header .mat-mdc-form-field-label {
  color: white;
}

.hpo-group-tab .filter-container .filter-header .mat-mdc-form-field-underline {
  background-color: rgba(255, 255, 255, 0.42);
}

.hpo-group-tab .filter-container .filter-header .mat-mdc-form-field-ripple {
  background-color: whitesmoke;
}

.hpo-group-tab .filter-container .filter-header .mat-mdc-form-field-ripple .mat-mdc-form-field-label {
  color: white;
}

.hpo-group-tab .filter-container .filter-header .mat-mdc-form-field-ripple .mat-mdc-focused .mat-mdc-form-field-label {
  color: white;
}

.hpo-group-tab .filter-container .filter-header .mat-mdc-input-element {
  color: white;
}

.search-highlight {
  font-weight: 800;
}

.download-associations, .lyfe-language-btn {
  margin-top: 10px !important;
  background-color: rgb(78, 139, 162) !important;
  color: white !important;
}

.mat-mdc-sort-header-stem, .mat-mdc-sort-header-arrow {
  color: white !important;
  opacity: .6 !important;
}

.mat-mdc-stepper-horizontal, .mat-mdc-stepper-vertical {
  background-color: unset !important;
}

.mat-mdc-expanded .mat-mdc-expansion-panel-header {
    background-color: rgba(41, 101, 124, 1);
}

.mat-mdc-expanded .mat-mdc-expansion-panel-header:hover, .mat-mdc-expanded .mat-mdc-expansion-panel-header:focus  {
  background: rgba(41, 101, 124, 1) !important;
}

.mat-mdc-expanded .mat-mdc-expansion-panel-header-title {
  color: white;
}

.mat-mdc-button-basem .mat-mdc-button-wrapper {
  vertical-align: middle !important;
}

a.mat-mdc-button-base {
  text-decoration: none;
}

.download-banner-wrapper {
  align-items: center;
  background: #ec9736;
  color: white;
  padding: 2rem;
  cursor: pointer;
  margin: 1rem;

  &:hover {
   opacity: .8;
  }

  & .download-banner-title {
      margin: 0 0 0 1.5rem;
      text-transform: uppercase;
    }
}

.filter-container .mat-mdc-form-field {
  width: 100%;
}

.translation-chips .mat-mdc-chip-list-wrapper {
  padding: 1rem 0 1rem 0;
}

.mat-mdc-chip.mat-mdc-standard-chip.mat-mdc-chip-selected.mat-mdc-primary {
  background: #ec9736;
}

 .mat-mdcstandard-chip:focus::after {
   opacity: unset;
   background: unset;
 }

.associationsPaging {
  text-align: right;
  padding: 10px 25px 0 0;
  margin-bottom: 1px;
  margin-top: 1px;
}

.associationsPaging p {
  margin-bottom: 1px;
  margin-top: 1px;
  font-size: 14px;
}

.associationsPaging a {
  cursor: pointer;
}

.source .material-icons,.material-icons-outlined {
  font-size: 12px;
}

.nav-hover:hover {
  color: lightgray !important;
}
