/* You can add global styles to this file, and also import other style files */
.container {
    padding-right: 15px;
    padding-left: 15px;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width:95%;
    }
  }

a {
    color: #0000EE !important;
    text-decoration: none;
}
a:hover {
    color: #551A8B !important;
    text-decoration: underline;
}
.main {
  margin-top:15px;
}
.page-header {
  width: 750px;
}
.page-header .page-title{
  font-size: 20px;
}
.page-header .hr{
  border-bottom: 1px solid rgba(208, 211, 212, .8);
  width: 250px;
  margin: 5px 0 10px 0;
}
.page-header .page-intro {
  font-size: 14px;
  margin-bottom:25px;
}

p {
  font-size: 16px;
}
* {
    font-family: Vollkorn, sans-serif;
}
strong {
  font-weight:800;
}