<div class="container">
  <h1 class="pageTitle center">Downloads</h1>
  <mat-tab-group>
    <mat-tab label="Ontology">
      <div class="tab-content">
        <h2>hp.obo</h2>
        <p>The <a href="http://owlcollab.github.io/oboformat/doc/GO.format.obo-1_2.html"
                  target="_blank">OBO flat file format</a>  is a simple way of representing an
          ontology that models represent a subset of the concepts in the OWL description
          logic language. The OBO format was designed to maximize human readability and has
          been widely used in the field of bio-ontologies and was probably one of the
          many factors responsible for the success of the
          <a href="https://www.ncbi.nlm.nih.gov/pubmed/10802651" target="_blank">Gene Ontology</a>.
          The HPO file in OBO format can be downloaded here:
        </p>
        <ul>
          <li><a href="http://purl.obolibrary.org/obo/hp.obo" target="__blank">http://purl.obolibrary.org/obo/hp.obo</a></li>
        </ul>
        <h2>hp.owl</h2>
        <p>OWL, which stands for <em><a href="https://www.w3.org/TR/owl2-overview/" target="_blank">Web
          Ontology Language</a></em>, is an ontology language for the semantic web. The
          OWL version of the HPO (which is the primary version) contains some features that the OBO
          version does not, including the logical definitions of HPO classes. Consider
          for instance the following definition of the HPO term for
          <a routerLink="/browse/term/HP:0000483">Astigmatism</a>.
        </p>
        <pre>
'has part' some
  ('asymmetrically curved'
     and ('inheres in' some cornea)
     and ('has modifier' some abnormal))
 </pre>
        <p>The logical makes use of terms from the <a href="https://github.com/pato-ontology/pato" target="_blank">PATO</a>
          Phenotype And Trait Ontology as well as the <a href="http://uberon.github.io/" target="_blank">UBERON</a>
          cross-species anatomy ontology in order to define
          <em><a href="https://en.wikipedia.org/wiki/Astigmatism" target="_blank">Astigmatism</a></em> as an
          abnormal asymmetric curvature of the cornea. A number of HPO-based algorithms make use of these definitions to
          link to definitions of mouse phenotypes at the <a href="http://www.informatics.jax.org/" target="_blank">Mouse Genome Informatics</a>
          resource, for quality control, and other purposes. For many of the HPO algorithms that are primarily
          intended for clinical phenotype matching, these features are not relevant and either the OBO or the OWL format are suitable.
          The HPO file in OWL format can be downloaded here:
        </p>
        <ul>
          <li><a href="http://purl.obolibrary.org/obo/hp.owl" target="__blank">http://purl.obolibrary.org/obo/hp.owl</a></li>
        </ul>
      </div>
    </mat-tab>
     <mat-tab label="Annotations">
        <div class="tab-content">
            <p>The annotation files (e.g. phenotype_annotation.tab) from our <a href="http://compbio.charite.de/jenkins/job/hpo.annotations/lastStableBuild/">Hudson/Jenkins page</a>. The format of the annotation file is explained under Documentation.</p>
            <ul>
              <li><i>phenotype_annotation.tab</i>: contains manual and semi-automated annotations created by the HPO-team. These are annotations of OMIM-, Orphanet-, and DECIPHER-entries</li>
              <li><i>phenotype_annotation_hpoteam.tab</i>: contains annotations made explicitly and manually by the HPO-team (mostly referring to OMIM entries)</li>
              <li><i>negative_phenotype_annotation.tab</i>: contains negative annotations (i.e. a disease is NOT associated with this HPO-term)</li>
            </ul>
            <p>Furthermore, we <a href="http://compbio.charite.de/jenkins/job/hpo.annotations.monthly/lastStableBuild/">provide two files</a> (genes_to_phenotype.txt and phenotype_to_genes.txt) to link between genes and HPO-terms.
              These files will be updated at regular intervals (once every month). he links are generated using the information about the phenotypes of a particular syndrome and the corresponding genes that are known to cause this syndrome
              when mutated.</p>
            <p>
              The HPO can also be obtained in the form of a database. The most recent dump of this DB can be <a href="http://compbio.charite.de/jenkins/job/hpo.annotations.monthly/lastStableBuild/" target="__blank">obtained from here</a>.
              Schema and UML diagrams can be found <a href="https://github.com/Human-Phenotype-Ontology/Human-Phenotype-Ontology.github.io/tree/master/data/db" target="__blank">here</a>.
            </p>
            <p>Questions and further requests can be sent to Sebastian.</p>
          </div>
    </mat-tab>
  </mat-tab-group>
</div>
