<div class="container">
    <div class="page-header">
        <div class="page-title">{{pageTitle}}</div>
        <div class="hr"></div>
        <div class="page-intro">{{pageIntro}}</div>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <p>
          We suggest that you follow standard scientific citation practice if you use the HPO in publications. Services and products have to display a short acknowledgement statement, that makes clear that the service/product is using HPO.
      </p>
      <h4>Reference</h4>
      <p>Sebastian Köhler, Nicole Vasilevsky, Mark Engelstad, Erin Foster, et al. <a href="https://academic.oup.com/nar/article/45/D1/D865/2574174/The-Human-Phenotype-Ontology-in-2017" target="__blank">The Human Phenotype Ontology</a> in 2017
          Nucl. Acids Res. (2017) doi: 10.1093/nar/gkw1039</p>
      <h5>Citation for products/services</h5>
      <p>This service/product is using the Human Phenotype Ontology (version information). Find out more at http://www.human-phenotype-ontology.org</p>
    </div>
  </div>
</div>