<div class="container">
  <div>
    <h1 class="center pageTitle">Contact</h1>
    <div class="flex flex-row flex-wrap justify-center items-center">
      <div class="contact-general w-full sm:w-1/2 sm:ml-[25%] flex flex-col">
        <h4>
          For data & general human phenotype ontology questions:
        </h4>
        @for (contact of generalContacts; track contact) {
          <div class="contact-card flex flex-row">
            <div class="contact-img">
              <img [src]="contact.src" [alt]="contact.name">
            </div>
            <div class="contact-bio flex-1">
              <h3>{{contact.name}}</h3>
              <h4>{{contact.affiliation}}</h4>
              <a [href]="'mailto:' + contact.email" target="_blank">
                <mat-icon>email_outline</mat-icon>
              </a>
            </div>
          </div>
        }
      </div>
      <div class="contact-technical w-full sm:w-1/2 sm:ml-[25%] flex flex-col">
        <h4>
          For technical hpo web application and api questions or bugs:
        </h4>
        @for (contact of technicalContacts; track contact) {
          <div class="contact-card flex flex-row">
            <div class="contact-img">
              <img [src]="contact.src" [alt]="contact.name">
            </div>
            <div class="contact-bio flex-1">
              <h3>{{contact.name}}</h3>
              <h4>{{contact.affiliation}}</h4>
              <a [href]="'mailto:' + contact.email" target="_blank">
                <mat-icon>email_outline</mat-icon>
              </a>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</div>
