.footer {
  bottom: 0;
  background-color: #f5f5f5;;
  width: 100%;
  color: black;
  min-height:75px;
}

.footer .version {
  color: slategray;
  text-align: center;
}

.footer .version p {
  margin: 0;
}

.footer .footer-brand {
  height: 75px;
  width: 175px;
}

.footer .footer-brand-larger {
  height: 40px;
  width: 150px;
  margin: 0 0 0 25px;
}

.footer .footer-brand:hover, .footer .footer-brand-larger:hover {
  opacity: .6;
}

@media (max-width: 767px) {

  .footer .footer-brand {
    height: 50px;
    width: 125px;
  }

  .footer .footer-brand-larger {
    height: 30px;
    width: 100px;
    margin: 0 0 0 5px;
  }
}

@media (max-width: 979px) {
  .footer .version {
    margin: 0;
  }
}
