.app-footer {
  background-color: #222222;
  color: #ffffff;
  font-family: 'Source Sans 3', 'Source Sans Pro', sans-serif;
}

.app-footer__logo {
  display: block;
  max-width: 100%;
  height: auto;
}

.app-footer__item {
  color: #ffffff;
}

.app-footer__version {
  color: #ffffff;
}

@media (max-width: 900px) {
  .app-footer__logo {
    max-width: 20rem;
  }
}
