<footer class="footer mat-elevation-z4" fxLayout="row wrap">
  <div class="group-links-wrapper" fxFlex.gt-md="33" fxFlexOffset.gt-md="0" fxFlex="80" fxFlexOffset="10">
    <div class="group">
      <button mat-button routerLink="license">License</button>
      <button mat-button routerLink="funding">Funding</button>
      <button mat-button routerLink="citation">Cite</button>
      <button mat-button routerLink="disclaimer">Disclaimer</button>
    </div>
  </div>
  <div class="version" fxFlex.gt-md="33" fxFlexOffset.gt-md="0" fxFlex="80" fxFlexOffset="10">
    <p>{{version}}</p>
  </div>
  <div class="logo-group-wrapper" fxFlex.gt-md="33" fxFlexOffset.gt-md="0" fxFlex="80" fxFlexOffset="10">
    <div class="logo-group">
      <a href="https://www.jax.org/" target="__blank"><img class="footer-brand" src="assets/jax_logo.png"/></a>
      <a href="https://www.bihealth.org/" target="__blank"><img class="footer-brand-larger"
                                                                     src="assets/bih-logo.svg"/></a>
      <a href="https://monarchinitiative.org/" target="__blank"><img class="footer-brand-larger"
                                                                     src="assets/monarch-logo.png"/></a>
    </div>
  </div>
</footer>
