.footer{
    position:fixed;
    bottom:0;
    background:#05396b;
    width:100%;
    color:white;
    
}
.footer .information{
    float:right;
    margin-right:10px;
}
.footer .title{
    float:left;
    font-size:1.5em;
}