$md-jaxprim: (
    50 : #e0f0f9,
    100 : #b3daef,
    200 : #80c2e5,
    300 : #4daada,
    400 : #2697d2,
    500 : #0085ca,
    600 : #007dc5,
    700 : #0072bd,
    800 : #0068b7,
    900 : #0055ab,
    A100 : #d4e7ff,
    A200 : #a1caff,
    A400 : #6eadff,
    A700 : #559eff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-jaxsec: (
    50 : #e0eaea,
    100 : #b3cbcb,
    200 : #80a8a8,
    300 : #4d8585,
    400 : #266b6b,
    500 : #005151,
    600 : #004a4a,
    700 : #004040,
    800 : #003737,
    900 : #002727,
    A100 : #62ffff,
    A200 : #2fffff,
    A400 : #00fbfb,
    A700 : #00e1e1,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

