<configuration>
  <property name="LOG" value="."/>
  <property name="LOG_DIR" value="."/>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  <logger name="ch.qos.logback" level="DEBUG">
  </logger>
  <logger name="com.hibernate.sql" level="ERROR">
  </logger>
  <root level="error">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
